// Labels
.label {
  @include label-base();
  @include label-variant(lighten($body-font-color, 5%), $bg-color-dark);
  display: inline-block;

  // Label rounded
  &--rounded {
	border-radius: 5rem;
	padding-left: .4rem;
	padding-right: .4rem;
  }

  // Label colors
  &--primary {
	@include label-variant($light-color, $primary-color);
  }

  &--secondary {
	@include label-variant($primary-color, $secondary-color);
  }

  &--success {
	@include label-variant($light-color, $color-success);
  }

  &--warning {
	@include label-variant($light-color, $color-warning);
  }

  &--error {
	@include label-variant($light-color, $color-error);
  }
}
