// Tables
.table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%;

	&--scroll{
		max-width: 100%;
		@include breakpoint(tablet-sm-max){
			display: inline-block;
			overflow: scroll;	
		}
		
	}


	tr:nth-child(even){
		background: $gray;
	}

	&--striped {
		tbody {
			tr:nth-of-type(odd) {
				background: $bg-color;
			}
		}
	}

	&--hover {
		tbody {
			tr {
				&:hover {
					background: $bg-color-dark;
				}
			}
		}
	}

	&,
	&.table--striped {
		tbody {
			tr {
				&.active {
					background: $bg-color-dark;
				}
			}
		}
	}

	td,
	th {
		border-bottom: $border-width solid $border-color;
		padding: $unit-3 $unit-2;

		&:last-child{
			text-align: right;
		}
	}
	th {
		border-bottom-width: $border-width-lg;
	}

	&-container{
		padding: 4em 0;
	}
}
.table-split-times{
	& + &{
		margin-top: 40px;
	}

	&__gender-container{
		display: flex;
		align-items: center;

		.gender-img{
			margin-right: 10px;
			&-m{
				height: 13px;
				width: 13px;

			}
			&-w{
				height: 15px;
				width: 9px;
			}
		}
		
	}
	h2, h3{
		margin: 0;
	} 
}

.table-visma{

	width: 100%;
	position: relative;
	font-size: 20px;
	display:flex;
	flex-direction: column;
	text-transform: uppercase;

	@include ie(){
		display: table;
	}

	thead{
		background-color: white;
		border-bottom: 2px solid $blue;
		@include ie(){
			display: block;
		}
		


		tr{
			display:flex;
			th{
				text-align: left;
				padding: 0 18px;
				color: $cyan;
				font-weight: 500;

			}

			th:nth-child(1){
				width: 50px;
				padding-left: 0;
			}
			th:nth-child(2){
				width: 25%;
			}
			th:nth-child(3){
				width: 10%;
			}
			th:nth-last-child(2){
				flex: 1 1 auto;

				@include ie(){
					width: 100%;
				}
			}

			.skier__table-container &{
				th:nth-child(2){
					width: 35%;
				}
				th:nth-child(3){
					width: 20%;
				}
				th:nth-last-child(2){
					width: 25%;
					flex: 0 0 auto;
				}
				th:nth-last-child(1){
					width:auto;
					flex: 1 1 auto;
					justify-content: flex-end;
					text-align:right;
				}
			}
		}

		@media screen and (max-width: $size-sm){
			display: none;
		}
	}
	&__header-container{
		height: 40px;
		position: relative;
	}

	&__sc-rank-img{
		margin-right: 20px;
		max-height: 38px;
		max-width: 194px;
	}
	&__header{
		position: absolute;
		text-align:left;
		display:flex;

		//top:50%;
		//transform: translateY(-50%);
		left:0;
		right:auto;
		&-gender{
			color: $cyan;
			margin-left: 10px;
		}

		&.header__champion, &.header__youth, &.header__climb, &.header__sprint, &.header__pro, &.header__nordictrophy, &.header__alptrophy {
			padding-left: 50px;

			&:after{
				content: '';
				position: absolute; left:0;top:0;right:auto;bottom:auto;
				height: 100%;
				width: 40px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center; 

			}
		}

		&.header__champion{
			&:after{
				background-image: url('../images/bib-champion.png');
			}
		}
		&.header__youth{
			&:after{
				background-image: url('../images/bib-youth.png');
			}
		}
		&.header__climb{
			&:after{
				background-image: url('../images/bib-climb.png');
			}
		}
		&.header__sprint{
			&:after{
				background-image: url('../images/bib-sprint.png');
			}
		}
		&.header__pro{
			&:after{
				background-image: url('../images/bib-team.png');
			}
		}
		&.header__nordictrophy{
			&:after{
				background-image: url('../images/bib-nordictrophy.png');
			}
		}
		&.header__alptrophy{
			&:after{
				background-image: url('../images/bib-alptrophy.png');
			}
		}

	}
	tbody{
		width: 100%;
		font-weight: 500;
		font-size: 18px;


		tr{
			display:flex;
			padding: 14px 0px;
		}

		tr:nth-child(odd){
			background-color: $cyan-opacity;
		}


		tr{
			display:flex;

			td:nth-child(1){
				width: 50px;
			}
			td:nth-child(2){
				width: 25%;
				@include ie(){
					width: 22%;
				}
			}
			td:nth-child(3){
				width: 10%;
				@include ie(){
					width: 8%;
				}
			}
			td:nth-last-child(2){
				flex: 1 1 auto;
				@include ie(){

				}
			}
			td:nth-last-child(1){
				width: 25%;
				justify-content: flex-end;
			}

			.skier__table-container &{
				td:nth-child(2){
					width: 35%;
				}
				td:nth-child(3){
					width: 20%;
				}
				td:nth-last-child(2){
					width: 25%;
					flex: 0 0 auto;
				}
				td:nth-last-child(1){
					width:auto;
					flex: 1 1 auto;
					justify-content: flex-end;
				}
			}

			td{
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				padding: 0 18px;

				a{
					line-height: 1;
				}

				.flag{
					max-width:20px;
					margin-right: 8px;
				}
				.suit{
					max-height: 28px;
					width: auto;
					margin-right: 0.5rem;
				}
			}



		}

		@media screen and (max-width: $size-sm){
			tr{
				display: flex;
				flex-direction: column;

				td{
					width: 100% !important;
					text-align:center;
					justify-content: flex-start !important;
					align-items: center;

					&.country{
						display:none;
					}

					.flag.show-sm{
						margin-left: 8px;
					}
				}
			}
		}
	}

	.table{
		&__rank{
			width: 20px;
		}

		&__name{
			flex: 1 1 auto;
		}
	}

	& + .button, & + .bottom_anchor + .button{
		margin-top: 10px;
	}

}
.bottom_anchor + .maintable{
	&:before{
		content: "";
		position: fixed;
		top: 0;
		height: 70px;
		width: 100vw;
		background-color: white;
		visibility: visible
	}

	&.scroll-up{
		&:before{
			height: 170px;

		}

	}
}

.skier .maintable{
	&:before{
		content: "";
		position: fixed;
		top: 0;
		height: 70px;
		width: 100vw;
		background-color: white;
		visibility: visible
	}

	&.scroll-up{
		&:before{
			height: 170px;

		}

	}
}

.ranking {
	td.rank{
		padding-left: 5px;
		justify-content: flex-start;
		align-items: center;
		.previous-rank{
			margin: 0 2px;
			opacity: 0.5;
		}

	}
	.table-container{
		padding-top:0;
	}
}
