// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;

  font-weight: 600;
  word-break: break-word;
}

h1,
.h1 {
  font-size: $font-size-x-large;
  /*@include breakpoint(tablet-lg-max) {
    font-size: $font-size-medium-large;
  }
  */
  @include breakpoint(mobile-xl-max) {
    font-size: 36px;
  }


}

h2,
.h2 {
  font-size: 24px;
@include breakpoint(mobile-xl-max) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: $font-size-medium-large;
  /*@include breakpoint(tablet-lg-max) {
    font-size: $font-size-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-tiny;
  }*/
}

h4,
.h4 {
  font-size: $font-size-medium;
  /*
  @include breakpoint(tablet-lg-max) {
    font-size: $font-size-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-tiny;
  }
  */
}

h5,
.h5 {
  font-size: $font-size-x-small;
  /*
  @include breakpoint(tablet-lg-max) {
    font-size: $font-size-x-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-x-tiny;
  }
  */
}

h6,
.h6 {
  font-size: $font-size-x-tiny;
 /* @include breakpoint(tablet-lg-max) {
    font-size: $font-size-x-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-x-tiny;
  }
  */
}

article{
  font-size: $font-size-x-small;

  @include breakpoint(tablet-lg-max) {
    font-size: $font-size-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-x-tiny;
  }
}

p, .p {
  color:$blue;
  line-height: calc(30/18);
  margin: 0 0 $line-height;
  font-size: 16px;
  font-weight: 400;

  &.text-lead{
    font-weight: bold;
    color:$font-color;
    .single-article &{
      line-height: 1.4;
      font-size: $font-size-medium;
      @include breakpoint(tablet-lg-max) {
        font-size: $font-size-small;
      }
      @include breakpoint(mobile-xl-max) {
        font-size: $font-size-x-tiny;
      }
    }

  }

}

.big-title{
  color:white;
  line-height: 1;
  font-size: $font-size-x-x-large;
  text-shadow: 0 0 30px rgba(0,0,0,0.4);
  font-weight: 900;

  @include breakpoint(laptop-sm-max) {
    font-size: $font-size-x-large;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-large;
  }
  
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

time {
  display: inline-block;
  margin: 0 0 .5rem;
}

p > time {
  display: inline;
  margin: 0;
}

// Blockquote
blockquote {
  border-left: $border-width-lg solid $border-color;
  margin-left: 0;
  padding: $unit-2 $unit-4;

  p:last-child {
    margin-bottom: 0;
  }
  cite {
    color: lighten($body-font-color, 20%);
  }
}

.meta-text{
  display:inline-block;
  font-size: 1rem;
  margin: 0.5em 0;
  text-transform: uppercase;

  .single-article &:not(.card__meta){

    margin-bottom: 20px;
  }
}

// Lists
ul,
ol {
  margin: $unit-4 0 $unit-4 $unit-4;
  padding: 0;

  ul,
  ol {
    margin: $unit-4 0 $unit-4 $unit-4;
  }

  li {
    margin-top: $unit-2;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: $unit-2 0 $unit-4 0;
  }
}

.lead {
  font-size: 120%;
}

abbr[title] {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

mark,
.highlight {
  @include label-variant($body-font-color, $highlight-color);
  border-radius: $border-radius;
  padding: .05rem;
}

kbd {
  @include label-base();
  @include label-variant($light-color, $dark-color);
  font-size: $font-size-sm;
}

// Code
pre {
  background: lighten($border-color, 4%);
  border-left: .2rem solid darken($border-color, 5%);
  line-height: 1.8rem;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  padding: 1.5rem 2.5rem;
}

code {
  background: $border-color;
  @include label-base();
  white-space: nowrap;

  pre & {
    background: transparent;
    border-left: 0;
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 0;
  }
}
