// Layout
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $layout-spacing;
	padding-right: $layout-spacing;
	width: 100%;
	@extend .clearfix;

	&--max-width{
		max-width: $max-width;
	}

	&--max-width--less{
		max-width: $max-width-less;

		.page-template-default &{
			margin-top: 30px;
		}
	}
	

	$grid-spacing: ($layout-spacing / ($layout-spacing * 0 + 1)) * $html-font-size;

	&.grid-xl {
		max-width: $grid-spacing * 2 + $size-xl;
	}

	&.grid-lg {
		max-width: $grid-spacing * 2 + $size-lg;
	}

	&.grid-md {
		max-width: $grid-spacing * 2 + $size-md;
	}

	&.grid-sm {
		max-width: $grid-spacing * 2 + $size-sm;
	}

	&.grid-xs {
		max-width: $grid-spacing * 2 + $size-xs;
	}

}

.show-xs,
.show-sm,
.show-md,
.show-lg {
	display: none !important;
}

// Responsive grid system
.cols {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$layout-spacing;
	margin-right: -$layout-spacing;


	&--no{
		&-wrap{
			flex-wrap: nowrap;;
		}
	}

	&--gapless {
		margin-left: 0;
		margin-right: 0;

		& > .col {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&--oneline {
		flex-wrap: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none
	}

	&--row {
		flex-direction: row;
	}
	&--column {
		flex-direction: column;
	}

	&--justify {
		&-center {
			justify-content: center;
		}
		&-start {
			justify-content: flex-start;
		}
		&-end {
			justify-content: flex-end;
		}
		&-space{
			justify-content: space-between;
		}
	}
	&--align {
		&-center {
			align-items: center;
		}
		&-start {
			align-items: flex-start;
		}
		&-end {
			align-items: flex-end;
		}
	}

	&--reverse{
		.col:first-child{
			order:2;
		}
		.col:not(:first-child){
			order: 1;
		}
	}
}

.col {
  flex: 1 1 auto; // not flex:1 because ie is a douche
  max-width: 100%;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;

  &.gap{
  	padding-top: $layout-spacing;
  	padding-bottom: $layout-spacing;
  }




  &--gapless {
  	padding: 0;
  }

  &--dont {
  	&-grow {
  		flex-grow: 0;
  	}
  	&-shrink {
  		flex-shrink: 0;
  	}
  }

  &--do {
  	&-grow {
  		flex-grow: 1;
  	}
  	&-shrink {
  		flex-shrink: 1;
  	}
  }

  &--border{
  	border: $border;
  }

  &--12,
  &--11,
  &--10,
  &--9,
  &--8,
  &--7,
  &--6,
  &--5,
  &--4,
  &--3,
  &--2,
  &--1 {
  	flex: none;
  }

  &--12 {
  	width: 100%;
  }
  &--11 {
  	width: 91.66666667%;
  }
  &--10 {
  	width: 83.33333333%;
  }
  &--9 {
  	width: 75%;
  }
  &--8 {
  	width: 66.66666667%;
  }
  &--7 {
  	width: 58.33333333%;
  }
  &--6 {
  	width: 50%;
  }
  &--5 {
  	width: 41.66666667%;
  }
  &--4 {
  	width: 33.33333333%;
  }
  &--3 {
  	width: 25%;
  }
  &--2 {
  	width: 16.66666667%;
  }
  &--1 {
  	width: 8.33333333%;
  }

  &--auto {
  	flex: 0 0 auto;
  	max-width: none;
  	width: auto;
  }
  &--mx-auto {
  	margin-left: auto;
  	margin-right: auto;
  }
  &--ml-auto {
  	margin-left: auto;
  }
  &--mr-auto {
  	margin-right: auto;
  }

}

  .cols--smaller{
  	margin-left: -5px;
  	margin-right: -5px;

  	.col{
  		padding-left: 5px;
  		padding-right: 5px;	
  		&.gap{
  			padding-top: 5px;
  			padding-bottom: 5px;
  		}
  	}
  }

@media screen and (max-width: $size-lg) {
	.col-lg {
		&--12,
		&--11,
		&--10,
		&--9,
		&--8,
		&--7,
		&--6,
		&--5,
		&--4,
		&--3,
		&--2,
		&--1 {
			flex: none;
		}

		&--12 {
			width: 100%;
		}
		&--11 {
			width: 91.66666667%;
		}
		&--10 {
			width: 83.33333333%;
		}
		&--9 {
			width: 75%;
		}
		&--8 {
			width: 66.66666667%;
		}
		&--7 {
			width: 58.33333333%;
		}
		&--6 {
			width: 50%;
		}
		&--5 {
			width: 41.66666667%;
		}
		&--4 {
			width: 33.33333333%;
		}
		&--3 {
			width: 25%;
		}
		&--2 {
			width: 16.66666667%;
		}
		&--1 {
			width: 8.33333333%;
		}
	}
	.hide-xl {
		display: none !important;
	}
	.show-xl {
		display: block !important;
	}
}

@media screen and (max-width: $size-md) {
	.col-md {
		&--12,
		&--11,
		&--10,
		&--9,
		&--8,
		&--7,
		&--6,
		&--5,
		&--4,
		&--3,
		&--2,
		&--1 {
			flex: none;
		}

		&--12 {
			width: 100%;
		}
		&--11 {
			width: 91.66666667%;
		}
		&--10 {
			width: 83.33333333%;
		}
		&--9 {
			width: 75%;
		}
		&--8 {
			width: 66.66666667%;
		}
		&--7 {
			width: 58.33333333%;
		}
		&--6 {
			width: 50%;
		}
		&--5 {
			width: 41.66666667%;
		}
		&--4 {
			width: 33.33333333%;
		}
		&--3 {
			width: 25%;
		}
		&--2 {
			width: 16.66666667%;
		}
		&--1 {
			width: 8.33333333%;
		}
	}
	.hide-md {
		display: none !important;
	}
	.show-md {
		display: block !important;

		&.cols{
			display: flex !important;
			
		}
	}
}




@media screen and (max-width: $size-sm) {
	.col-sm {
		&--12,
		&--11,
		&--10,
		&--9,
		&--8,
		&--7,
		&--6,
		&--5,
		&--4,
		&--3,
		&--2,
		&--1 {
			flex: none;
		}

		&--12 {
			width: 100%;
		}
		&--11 {
			width: 91.66666667%;
		}
		&--10 {
			width: 83.33333333%;
		}
		&--9 {
			width: 75%;
		}
		&--8 {
			width: 66.66666667%;
		}
		&--7 {
			width: 58.33333333%;
		}
		&--6 {
			width: 50%;
		}
		&--5 {
			width: 41.66666667%;
		}
		&--4 {
			width: 33.33333333%;
		}
		&--3 {
			width: 25%;
		}
		&--2 {
			width: 16.66666667%;
		}
		&--1 {
			width: 8.33333333%;
		}
	}
	.hide-sm {
		display: none !important;
	}
	.show-sm {
		display: block !important;
	}
}

@media screen and (max-width: $size-xs) {
	.col-xs {
		&--12,
		&--11,
		&--10,
		&--9,
		&--8,
		&--7,
		&--6,
		&--5,
		&--4,
		&--3,
		&--2,
		&--1 {
			flex: none;
		}

		&--12 {
			width: 100%;
		}
		&--11 {
			width: 91.66666667%;
		}
		&--10 {
			width: 83.33333333%;
		}
		&--9 {
			width: 75%;
		}
		&--8 {
			width: 66.66666667%;
		}
		&--7 {
			width: 58.33333333%;
		}
		&--6 {
			width: 50%;
		}
		&--5 {
			width: 41.66666667%;
		}
		&--4 {
			width: 33.33333333%;
		}
		&--3 {
			width: 25%;
		}
		&--2 {
			width: 16.66666667%;
		}
		&--1 {
			width: 8.33333333%;
		}
	}
	.hide-xs {
		display: none !important;
	}
	.show-xs {
		display: block !important;
	}
}

.hide-mobile{
	@include breakpoint(mobile-break){
		display: none !important;
	}
}

.show-mobile{
	@include breakpoint(above-mobile-break){
		display: none !important;
	}
}

.container > .cols:not(.cols--smaller){
	margin-left: 0;
	margin-right: 0;
}
