$header-height: 50px;

.header{
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	padding-top: 10px;
	z-index: 10;


	&__menu-toggle{
		pointer-events: none;
		opacity: 0;
		position: absolute;
		z-index: -1;


		&:checked{
			& + .header__menu{
				right: 0;

				.header__menu-inner-toggle{
					background: rgba(0,0,0,0.2);
					z-index: 1;
					pointer-events: all;

				}
			}
		}
	}

	&__menu{
		position: fixed;
		width: 100vw;
		right: -100vw;
		transition: all 0.2s ease-in-out;
		top:0;
		bottom:0;
		z-index: 10;
		&-inner{
			background: $green;
			max-width: 300px;
			z-index: 30;
			width: 80vw;
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
		}

		&-inner-toggle{
			width: 300vw;
			position: absolute;
			left:-180vw;
			top:0;
			bottom: 0;
			background:transparent;
			transition: background 0.2s ease-in-out;
			transition-delay: 0.2s;
			z-index: -1;
			pointer-events: none;

		}

		&-list{
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;

			li{
				font-size: 24px;
				margin-top: 20px;

			}
		}
	}


}

.header-height{
	height: $header-height;
}