/**
	TODO - BREAKOUT ?!
 */

// Text colors
@include text-color-variant(".text-primary", $primary-color);

@include text-color-variant(".text-secondary", $secondary-color-dark);

@include text-color-variant(".text-gray", $gray-color);

@include text-color-variant(".text-light", $light-color);

@include text-color-variant(".text-success", $color-success);

@include text-color-variant(".text-warning", $color-warning);

@include text-color-variant(".text-error", $color-error);

// Background colors
@include bg-color-variant(".bg-primary", $primary-color);

@include bg-color-variant(".bg-secondary", $secondary-color);

@include bg-color-variant(".bg-dark", $dark-color);

@include bg-color-variant(".bg-gray", $bg-color);

@include bg-color-variant(".bg-success", $color-success);

@include bg-color-variant(".bg-warning", $color-warning);

@include bg-color-variant(".bg-error", $color-error);
.padding-header{
  padding-top: $header-height;
}

.background--dark{
  background: $primary-color;
  min-height: 100vh;
}
.color--light{
  color: white;
}
.text--dark{
  color: $font-color !important;
}
.color--meta{
  opacity: 0.8;
}
.partial-padding{
  padding-top: $block-size-small;
}

$badge-img-size_large: 80px; 
$badge-img-size_small: 80px; 
.badge-img-size{
  width: $badge-img-size_large;
  height: $badge-img-size_large;
  max-height: $badge-img-size_large;
  max-width: $badge-img-size_large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  @include ie(){
    img{
      max-height: $badge-img-size_large;
      max-width: $badge-img-size_large;
    }
  }
  .content-row &{
    width: $badge-img-size_small;
    height: $badge-img-size_small;
    max-height: $badge-img-size_small;
    max-width: $badge-img-size_small;
    @include ie(){
      img{
        max-height: $badge-img-size_small;
        max-width: $badge-img-size_small;
      }
    }

  }
}

.border{
  &--bottom{
    border-bottom: $border;
  }
}

.color{
  &--challenger{
    &, *{
      color: $challenger-color !important;
    }
  }
  &--pro{
    &, *{
      color: $red !important;  
    }
    
  }
   &--cyan{
    &, *{
      color: $cyan !important;  
    }
    
  }
}
.background{
  &--challenger{
    background: $challenger-color !important;
  }
  &--pro{
    background: $red !important;  
  }
}

.margin{
  &-top{
    &--small{
      margin-top:$block-size-small;
    }
     &--medium{
      margin-top: 20px;
    }
    &--large{
      margin-top: 50px;
    }
  }

  &-bottom{
    margin-bottom: 30px;

    &--small{
      margin-bottom: 6px;
    }

    &--medium{
      margin-bottom: 20px;
    }
    &--large{
      margin-bottom: 50px;
    }
  }

    &-left{
    margin-left: 30px;

    &--small{
      margin-left: 6px;
    }

    &--medium{
      margin-left: 20px;
    }
    &--large{
      margin-left: 50px;
    }
  }
}

.padding{
  &--mini{
    padding: $block-size-mini;
  }
  &--small{
    padding: $block-size-small;
  }
  &--medium{
    padding: $block-size-medium;
  }
  &--large{
    padding: $block-size-large;
  }
  &-top{
   &--mini{
    padding-top: $block-size-mini;
  }
  &--small{
    padding-top: $block-size-small;
  }
  &--medium{
    padding-top: $block-size-medium;
  }
  &--large{
    padding-top: $block-size-large;
  }
}
&-bottom{
 &--mini{
  padding-bottom: $block-size-mini;
}
&--small{
  padding-bottom: $block-size-small;
}
&--medium{
  padding-bottom: $block-size-medium;
}
&--large{
  padding-bottom: $block-size-large;
}

}
}


.no {
  &-margin {
   margin: 0 !important;
   &--bottom{
    margin-bottom: 0;
   }
 }
 &-padding {
   padding: 0;
   &--bottom{
    padding-bottom: 0 !important;
  }
   &--top{
    padding-top: 0 !important;
  }
   &--right{
    padding-right: 0 !important;
  }
   &--left{
    padding-left: 0 !important;
  }
}
&-line-height{
  line-height: 0;
}
}

.full{

  &-width{
    width: 100%;
  }
  &-height{
    height: 100%;
  }
  &-width--vw{
    width: 100vw;
  }
  &-height--vh{
    height: 100vh;
  }
}

.margin{
  &--bottom{
    margin-bottom: 30px;

  }
  &-top{
    margin-top: 30px;
  }
}

.padding-block{
  padding-top: 30px;
  padding-bottom: 30px;
}


.text {
  &--center {
   text-align: center;
 }
 &--left {
   text-align: left !important;
 }
 &--right {
   text-align: right;
 }
 &--justify {
   text-align: justify;
 }

 &--lowercase {
   text-transform: lowercase;
 }

 &--uppercase {
   text-transform: uppercase;
 }

 &--capitalize {
   text-transform: capitalize;
 }

 &--normal {
   font-weight: normal;
 }

 &--bold {
   font-weight: bold;
 }
 &--italic {
   font-style: italic;
 }

 &--ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

 &--clip {
   overflow: hidden;
   text-overflow: clip;
   white-space: nowrap;
 }
 &--break {
   hyphens: auto;
   word-break: break-word;
   word-wrap: break-word;
 }
 &--hide {
   background: transparent;
   border: 0;
   color: transparent;
   font: 0/0 a;
   text-shadow: none;
   position: absolute;
   z-index: -2;
   pointer-events: none;
   opacity: 0;
 }

 &--light{
  color: white;
}
}

.float {
  &--left {
   float: left;
 }
 &--right {
   float: right;
 }
}

/**
	redo these
 */
 .mt {
  &--10 {
   margin-top: rem(10);
 }
 &--5 {
   margin-top: rem(5);
 }
}

.mr {
  &--10 {
   margin-right: rem(10);
 }
 &--5 {
   margin-right: rem(5);
 }
}

.mb {
  &--10 {
   margin-bottom: rem(10);
 }
 &--5 {
   margin-bottom: rem(5);
 }
}

.ml {
  &--10 {
   margin-left: rem(10);
 }
 &--5 {
   margin-left: rem(5);
 }
}

.pt {
  &--10 {
   padding-top: rem(10);
 }
 &--5 {
   padding-top: rem(5);
 }
}

.pr {
  &--10 {
   padding-right: rem(10);
 }
 &--5 {
   padding-right: rem(5);
 }
}

.pb {
  &--10 {
   padding-bottom: rem(10);
 }
 &--5 {
   padding-bottom: rem(5);
 }
}

.pl {
  &--10 {
   padding-left: rem(10);
 }
 &--5 {
   padding-left: rem(5);
 }
}

// Position
.clearfix {
  @include clearfix();
}

.rel {
  position: relative;
}

.abs {
  position: absolute;

  &--left{
    left:0;
  }
}

.fixed {
  position: fixed;
}

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// Display
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hide {
  display: none !important;

  &--category{
    display: none;
  }
  &--searchword{
    display: none;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// Text

.hand {
  cursor: pointer;
}

// Shadow
.shadow {
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
}

.light-shadow {
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .15);
}

// Shapes
.rounded {
  border-radius: $border-radius;
}

.circle {
  border-radius: 50%;
}

.caret {
  border-left: rem(4) solid transparent;
  border-right: rem(4) solid transparent;
  border-top: rem(4) solid currentColor;
  display: inline-block;
  height: 0;
  margin: 0 .2rem;
  vertical-align: middle;
  width: 0;
}

// Loading
.loading {
  color: transparent !important;
  min-height: $unit-4;
  pointer-events: none;
  position: relative;


  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 200;
    background-color: white;
  }
  
  

  
  

  &::after {
   animation: loading 500ms infinite linear;
   border: 0.4rem solid white;
   border-radius: 50%;
   border-right-color: transparent;
   border-top-color: transparent;
   content: "";
   display: block;
   height: $unit-4;
   left: 50%;
   margin-left: -$unit-2;
   margin-top: -$unit-2;
   position: absolute;
   top: 50%;
   width: $unit-4;
   z-index: $zindex-0;
 }

 &--large {
   min-height: $unit-10;
   &::after {
     height: $unit-8;
     margin-left: -$unit-4;
     margin-top: -$unit-4;
     width: $unit-8;
   }
 }
}

// Divider
.divider,
.divider-vert {
  display: block;
  position: relative;

  &[data-content]::after {
   background: $bg-color-light;
   color: $gray-color;
   content: attr(data-content);
   display: inline-block;
   font-size: $font-size-sm;
   padding: 0 $unit-2;
   transform: translateY(-$font-size-sm + $border-width);
 }
}

.divider {
  border-top: $border-width solid $border-color;
  height: $border-width;
  margin: $unit-2 0;

  &[data-content] {
   margin: $unit-4 0;
 }
}

.divider-vert {
  display: block;
  padding: $unit-4;

  &::before {
   border-left: $border-width solid $border-color;
   bottom: $unit-2;
   content: "";
   display: block;
   left: 50%;
   position: absolute;
   top: $unit-2;
   transform: translateX(-50%);
 }

 &[data-content]::after {
   left: 50%;
   padding: $unit-1 0;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
 }
}

// Display
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none,
.d-hide {
  display: none !important;
}

.d-visible {
  visibility: visible;
}

.d-invisible {
  visibility: hidden;
}

.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
}

.text-assistive {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Spacing
@include margin-variant(0, 0);

@include margin-variant(1, $unit-1);

@include margin-variant(2, $unit-2);

@include padding-variant(0, 0);

@include padding-variant(1, $unit-1);

@include padding-variant(2, $unit-2);

// Text overflow utilities
.text-ellipsis {
  @include text-ellipsis();
}

.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}