@media print {

  * {
	background-image: none !important;
	border-color: black !important;
  }

  body {
	background: #fff !important;
	color: black !important;
	-webkit-print-color-adjust: exact;
  }

  .highlight {
	background: black !important;
	color: white !important;
  }

  .break-print {
	page-break-after: auto;
  }

  .hidden-print, .screen {
	display: none !important;
  }
  .visible-print {
	display: block !important;
  }
  .page-break {
	display: block;
	page-break-before: always !important;
  }

  img:not(.printable) {
	display: none !important;
  }

  h1, h2, h3, h4, h5, h6, code, pre {
	color: #000;
	text-transform: none; /* because sometimes I set all-caps */
  }

  code, pre {
	font-size: 8pt;
	background-color: transparent;
	/* just in case the user configured browser to print backgrounds */
  }

  blockquote {
	background-image: none;
	/* though they may not print, I&rsquo;d rather be sure */
  }

  a:link, a:visited {
	text-decoration: underline;
	color: #000;
  }

}