
img {
  max-width: 100%;
}

* {
  ::-webkit-scrollbar { width: 0 !important }
  -ms-overflow-style: none;
  @include ie() {
   -ms-font-feature-settings: normal;
 }
 outline: none;
}

.chart-container{
  position: relative; 
  height: 300px; 
  width:100%;

    @include breakpoint(mobile-xl-max) {
  height: 200px; 
  }
}

// Base

html {
  box-sizing: border-box;
  font-size: #{$base-font-size}px;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: white;
  color: $font-color;
  min-height: 100vh;
  &.page-template-page-livecenter, &.page-template-page-splittimes{
    background-color: $blue;
    color: white;

    pre{
      background-color: $red;
    }
  }
  font-weight: 500;
  font-size:$font-size-small;
  font-family: $font-family-sans;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  @include breakpoint(mobile-xl-max) {
    font-size: 14px;
  }


  @if ($font-smoothing) {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 &.fade-out{
  opacity: 0;
  transition: none;
}
}

label{
  cursor: pointer;
}
main{
  padding-top: $header-height;
  padding-bottom: 50px;
  


  overflow:hidden;


  &.shop-page, .home &, .page-template-page-livecenter &, .page-template-page-shop &, .post-type-archive-events &{
    padding-top: $header-height;

  }
  @include breakpoint(mobile-break){

    padding-top: $header-height;

    .home &, .single-pro_teams &, .single-events &{
      padding-top: $header-height;

    }
  }
  min-height: 100vh;
  
  opacity: 1;
  transition: 1s opacity;


  &.fade-out{
    opacity: 0;
    //transition: none;
  }
  &.fade-out-transition{
    opacity: 0;

  }
}
.main-content{
  //padding-top: 100px;
}
.main-background{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s opacity;
  z-index: -1;
  img{
    width: auto;
    opacity: 0.5;
  }

  main.fade-out + & , main.fade-out-transition + &{
    opacity: 1;
    z-index: 3;
  } 
}

.svg-wrap {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
}

// Disabled state
[disabled],
.disabled {
  cursor: default;
  opacity: .75;
  pointer-events: none;
}

figure {
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
   //@include control-shadow();
 }

 &:focus,
 &:hover,
 &:active,
 &.active {
   color: $link-color-dark;
   text-decoration: underline;
 }
}

.background-image{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &--black{
    background-color: rgba(0,0,0,0.3);
  }
  &--black-gradient{
    background-image: linear-gradient(transparent, transparent, black);
  }
  &--primary_color{
    background-color: $primary-color;
    opacity: 0.3;
  }
  &--secondary_color{
    background-color: $secondary-color;
    opacity: 0.3;
  }
}

.fade-in{
  opacity: 0;
  // animation properties
  animation: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.single article{
  padding-bottom: 3rem;
}

article{
  img{
    width: auto;
  }
}

.no-scrolling{
  overflow: hidden;
  max-height: 100vh;
}
.text-opacity{
  opacity: $opacity;
}
.cyan-subtitle{
  color: $cyan;
  margin-left: 20px;
}
.flag{
  max-width: 23px;
  display: inline-block;

  &--container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .flag{
      margin-right: 10px;
    }
    p{
      margin-bottom: 0;
      line-height: 1;
    }
  }
}

.register-page{
  .help-block{
    background: $red;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
  }
}
.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}
.visma-table{
  &, tbody{
    width: 100%;
  }

  tr{
    td{
      padding: 5px;

      &:nth-child(1),&:nth-child(2),&:nth-child(4),&:nth-child(5){
        width: 50px;
      }
      &:nth-child(6){
        width: 75px;
      }

      &:last-child{
        text-align: right;
      }
    }
    &:nth-child(even){
      background: $blue-opacity;
    }
  }
}
.flag{
  max-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    max-width: 100%;
  }
}
.image-field-fallback{
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}


.expired{
  cursor: not-allowed;
  opacity: 0.7;

  *{
    pointer-events: none;
  }
}