.bingo-tile{
	border-radius: 20px;
	border: 1px solid #D7D1DA;
	background: transparent;
	width: 100%;
	padding-top: 100%; /* 1:1 Aspect Ratio */
	position: relative; /* If you want text inside of it */
	transition: background 0.2s ease-in-out;

	

	&.active{
		background: $primary-color;
		border-color:$primary-color;
		color: white;
		

		.bingo-tile__content{
			text-decoration: line-through;	
		}
	}

	&__content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		padding: 5px;
		line-height: 1.1;
		text-align: center;

	}
}

button.bingo-tile:not(.active){
	&:hover{
		background: #D7D1DA;
	}
}