.button{
	border-radius: $border-radius;
	min-height: 50px;
	border:none;
	background: $primary-color;
	color: white;
	padding: $button-padding;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	font-weight: 700;
	&:hover, &:focus{
		background: darken($primary-color, 10%);
	}

	&--secondary{
		color: $primary-color;
		background: $secondary-color;
		&:hover, &:focus{
			background: darken($secondary-color, 10%);
		}
	}

	&--link{
		background: transparent;
		border-color: transparent;

		color: $secondary-color;
		text-decoration: underline;
		&:hover, &:focus{
			background: transparent;
			color: darken($secondary-color, 20%);
		}
	}
}