.form{

	border: 1px solid black;
	padding: 5px;

	& + &{
		margin-top: 20px;
	}
	&-group{
		display: flex;
		flex-direction: column;
		color: white;

		& + &{
			margin-top: 16px;
		}

		&.has-error{
			.help-block{
				color: $color-error;
			}
		}
	}

	&__element{

		&--hidden{
			opacity: 0;
			z-index: -1;
			pointer-events: none;
			position: absolute;
			max-width: 20px;
		}
	}
}

input:not([type="checkbox"]), textarea, select{
	border-radius: $border-radius;
	width: 100%;
	height: 50px;
	padding: $button-padding;
	color: $font-color;
	border: 1px solid $primary-opacity;
	font-size: 18px;
}