.intro{
	background: $background-color;
	color: white;
	height: 240px;
	overflow: hidden;

	&__container{
		position: relative;
	}

	&__cols{
		position:relative;
		z-index: 2;
	}

	&__background-img{
		position: absolute;
		top:0;
		right: 0;
		max-width: 300px;
		
		@include breakpoint(mobile-xl-max) {
			right: auto;
			left: 30%;
			max-width: 300px;
		}
	}
}