.steps-table{
	&__row{
		display: flex;
		justify-content: space-between;
		border-radius: $border-radius;
		padding: 9px 10px 12px 10px;

		&:nth-child(even){
			background: $primary-opacity;
		}
	}

	&__cell{

	}

	&--white{

		h2{
			color: white;
		}
		.steps-table__row{
			background: white;

			&:nth-child(even){
				background: darken(white, 5%);
			}
			
		}
	}
}

.highscore{
	&__container{
		border-bottom: 2px solid white;
	}
	&__title{
		font-size: 24px;
		color: white;
	}

	&__row{
		display: flex;
		justify-content: space-between;
		color: white;
		font-size: 20px;
		font-weight: 700;
		padding: 10px 5px;

		margin-left: -5px;
		margin-right: -5px;
		transition: background 0.2s ease-in-out;
		  @include breakpoint(tablet-lg-max) {
		  	font-size: 18px;
		  }

		&:nth-child(odd){
			background: rgba(0,0,0,0.2);
		}

		&:hover{
			background: rgba(0,0,0,0.4);
		}

		&.large{
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&.border-bottom{
			border-bottom: 2px dashed rgba(255,255,255,0.2);

		}
	}

	&__number{
		color: $green;
		width: 16px;
	}

	&__name{
		margin-left: 1rem;
	}

}