.tile{
	background: white;
	color: $primary-color;
	border-radius: $border-radius;
	padding: 1.5rem 2rem;
	display: block;
	transition: all 0.2s ease-in-out;

	& + &{
		margin-top: 2rem;
	} 
	@include breakpoint(mobile-xl-max) {
		padding: 1.5rem 2rem;
	}
}

a.tile{
	text-decoration: none;

	&:hover, &:focus{
		background: $green;
	}
}