@function to-string($value) {
  @return inspect($value);
}

@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

  @if not index(map-keys($units), $unit) {
	@debug 'Invalid unit `#{$unit}`.';
  }

  @return $value * map-get($units, $unit);
}

@function to-number($value) {
  @if type-of($value) == 'number' {
	@return $value;
  } @else if type-of($value) != 'string' {
	@debug 'Value for `to-number` should be a number or a string.';
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
	$character: str-slice($value, $i, $i);

	@if not (index(map-keys($numbers), $character) or $character == '.') {
	  @return to-length(if($minus, -$result, $result), str-slice($value, $i))
	}

	@if $character == '.' {
	  $digits: 1;
	} @else if $digits == 0 {
	  $result: $result * 10 + map-get($numbers, $character);
	} @else {
	  $digits: $digits * 10;
	  $result: $result + map-get($numbers, $character) / $digits;
	}
  }

  @return if($minus, -$result, $result);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
	@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/**
	Helper functions calculators and such
 */

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
	@for $i from 1 through $exponent {
	  $value: $value * $number;
	}
  }

  @return $value;
}

// LINEAR to LOGARITHMIC and vicev-ersa
@function lin2log($n) {
  @if $n <= 0.0031308 {
	@return $n * 12.92;
  } @else {
	@return 1.055 * pow($n,1/2.4) - 0.055;
  }
}

@function log2lin($n) {
  @if $n <= 0.04045 {
	@return $n / 12.92;
  } @else {
	@return pow((($n + 0.055)/1.055), 2.4);
  }
}

// sRGB BT-709 BRIGHTNESS
@function brightness($c) {
  $rlin: log2lin(red($c)/255);
  $glin: log2lin(green($c)/255);
  $blin: log2lin(blue($c)/255);
  @return lin2log(0.2126 * $rlin + 0.7152 * $glin + 0.0722 * $blin) * 100;
}


