@import 'extend_core';

// Breakpoints --------------------------------------------------

@mixin breakpoint($point) {

  @if $point == mobile-lg { //375
	@media (min-width: 23.4375em) {
	  @content;
	}
  }

  @if $point == mobile-lg-max { //375
	@media (max-width: 23.437499em) {
	  @content;
	}
  } @else if $point == mobile-xl { //500
	@media (min-width: 31.25em) {
	  @content;
	}
  }@else if $point == mobile-xl-max { //500
	@media (max-width: 31.24999em) {
	  @content;
	}
  }

   @else if $point == tablet-sm { //680
	@media (min-width: 42.5em) {
	  @content;
	}
  } @else if $point == tablet-sm-max { //680
	@media (max-width: 42.499em) {
	  @content;
	}
  }  @else if $point == tablet-lg { //960
	@media (min-width: 60em) {
	  @content;
	}
  } @else if $point == tablet-lg-max { //960
	@media (max-width: 60em) {
	  @content;
	}
  } @else if $point == sidebar { //960
	@media (min-width: 60em) {
	  @content;
	}
  } @else if $point == sidebar-max { //960
	@media (max-width: 59.9999em) {
	  @content;
	}
  } @else if $point == laptop-sm { //1100
	@media (min-width: 68.75em) {
	  @content;
	}
  } @else if $point == laptop-sm-max { //1100
	@media (max-width: 68.7499em) {
	  @content;
	}
  }	@else if $point == mobile-break { ///1100
	@media (max-width: 840px) {
	  @content;
	
	}
  }

@else if $point == above-mobile-break { ///1100
	@media (min-width: 840px) {
	  @content;
	
	}
  }
  @else if $point == laptop-lg { //1280
	@media (min-width: 80em) {
	  @content;
	}
  } @else if $point == laptop-lg-max { //1280
	@media (max-width: 79.999em) {
	  @content;
	}
  } @else if $point == desktop-sm { //1400
	@media (min-width: 87.5em) {
	  @content;
	}
  } @else if $point == desktop-sm-max { //1400
	@media (max-width: 87.499em) {
	  @content;
	}
  } @else if $point == desktop-lg { //1600
	@media (min-width: 100em) {
	  @content;
	}
  } @else if $point == desktop-lg-max { //1600
	@media (max-width: 99.999em) {
	  @content;
	}
  } @else {
	@media (min-width: $point) {
	  @content;
	}
  }

}

@mixin breakpoint-max($point) {
  @media (max-width: $point) {
	@content;
  }
}

@mixin print() {
  @media print {
	@content;
  }
}

@mixin clearfix {
  &::after {
	content: "";
	display: table;
	clear: both;
  }
}

@function rem($pixels) {
  @return #{$pixels / $base-font-size}rem;
}

@mixin box($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include box($size);
  border-radius: 50%;
}

@mixin placeholder() {
  &::placeholder, &::-moz-placeholder, &::-ms-input-placeholder, &:-moz-placeholder {
	@content;
  }
}

@mixin control-shadow($color: $primary-color) {
  box-shadow: 0 0 0 .1rem rgba($color, .2);
}

@mixin control-transition() {
  transition: all .2s ease;
}

@mixin responsive-font-sizes($desktop-step: $font-size-medium, $laptop-step: false, $tablet-step:false, $mobile-step:false ) {
  font-size: $desktop-step;

  @if $laptop-step {
	@include breakpoint(desktop-sm-max) {
	  font-size: $laptop-step;
	}
  }
  @if $tablet-step {
	@include breakpoint(laptop-sm-max) {
	  font-size: $tablet-step;
	}
  }
  @if $mobile-step {
	@include breakpoint(tablet-sm-max) {
	  font-size: $mobile-step;
	}
  }
}

/**
	Color contrast (diffs current color with this)

	Sends in dark green $color
	Returns $color-light-text
 */
@function color-contrast($color, $dark: $color-dark-text, $light: $color-light-text) {
  @if $color == null {
	@return null;
  } @else {
	$color-brightness: brightness($color);
	$light-text-brightness: brightness($light);
	$dark-text-brightness: brightness($dark);

	@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

/**
* Returns url for a random image from unsplash
* $size-x int = width
* $size-y int = height
* $random boolean = random image or not
*/
@function placeholder($size-x, $size-y, $random: true) {
  @if $random {
	@return url('https://unsplash.it/' + $size-x + '/' + $size-y + '/?random');
  } @else {
	@return url('https://unsplash.it/' + $size-x + '/' + $size-y);
  }
}

/** returns image relative to template **/
@function image_url($name) {
  @return url('../images/' + $name);
}

// Text Ellipsis
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Toast variant mixin
@mixin toast-variant($color: $dark-color) {
  background: rgba($color, .9);
  border-color: $color;
}

// Button variant mixin
@mixin button-variant($color: $primary-color) {
  background: $color;
  border-color: darken($color, 3%);
  color: $light-color;
  &:focus {
	@include control-shadow($color);
  }
  &:focus,
  &:hover {
	background: darken($color, 20%);
	border-color: darken($color, 5%);
	color: $light-color;
  }
  &:active,
  &.active {
	background: darken($color, 7%);
	border-color: darken($color, 10%);
	color: $light-color;
  }
  &.loading {
	&::after {
	  border-bottom-color: $light-color;
	  border-left-color: $light-color;
	}
  }
}

@mixin button-outline-variant($color: $primary-color) {
  background: $light-color;
  border-color: $color;
  color: $color;
  &:focus {
	@include control-shadow($color);
  }
  &:focus,
  &:hover {
	background: lighten($color, 50%);
	border-color: darken($color, 2%);
	color: $color;
  }
  &:active,
  &.active {
	background: $color;
	border-color: darken($color, 5%);
	color: $light-color;
  }
  &.loading {
	&::after {
	  border-bottom-color: $color;
	  border-left-color: $color;
	}
  }
}

// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
  #{$name} {
	background: $color;
  }
}

@mixin avatar-base($size: $unit-8) {
  font-size: $size / 2;
  height: $size;
  width: $size;
}

@mixin label-base() {
  border-radius: $border-radius;
  line-height: 1.2;
  padding: .1rem .15rem; // TODO: Add sizes from config here
}

@mixin label-variant($color: $light-color, $bg-color: $primary-color) {
  background: $bg-color;
  color: $color;
}

@mixin ie() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	@content;
  }
}

@mixin ff() {
  @media screen and (-moz-images-in-menus: 0) {
	@content
  }
}

@mixin margin-variant($id: 1, $size: $unit-1) {
  .m-#{$id} {
	margin: $size;
  }
  .mb-#{$id} {
	margin-bottom: $size;
  }
  .ml-#{$id} {
	margin-left: $size;
  }
  .mr-#{$id} {
	margin-right: $size;
  }
  .mt-#{$id} {
	margin-top: $size;
  }
  .mx-#{$id} {
	margin-left: $size;
	margin-right: $size;
  }
  .my-#{$id} {
	margin-bottom: $size;
	margin-top: $size;
  }
}

@mixin padding-variant($id: 1, $size: $unit-1) {
  .p-#{$id} {
	padding: $size;
  }
  .pb-#{$id} {
	padding-bottom: $size;
  }
  .pl-#{$id} {
	padding-left: $size;
  }
  .pr-#{$id} {
	padding-right: $size;
  }
  .pt-#{$id} {
	padding-top: $size;
  }
  .px-#{$id} {
	padding-left: $size;
	padding-right: $size;
  }
  .py-#{$id} {
	padding-bottom: $size;
	padding-top: $size;
  }
}

@mixin shadow-variant($offset) {
  box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($dark-color, .3);
}

@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
  #{$name} {
	color: $color;
  }

  a#{$name} {
	&:focus,
	&:hover {
	  color: darken($color, 5%);
	}
  }
}