@mixin root($root: html, $body: body) {
  #{$root} {
	font: 100%/#{$line-height-text} $font-family-sans;
	background: $bg-color;
	color: $body-font-color;
	-webkit: {
	  tap-highlight-color: rgba(0, 0, 0, 0);
	}
  }

  #{$body} {
  }
}