/**
	Helper functions calculators and such
 */
/**
	Color contrast (diffs current color with this)

	Sends in dark green $color
	Returns $color-light-text
 */
/**
* Returns url for a random image from unsplash
* $size-x int = width
* $size-y int = height
* $random boolean = random image or not
*/
/** returns image relative to template **/
/**
TODO: Create a better configuration
*/
/*@font-face {
  font-family: 'FontAwesome';
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/fa-regular-400.woff2") format("woff2");
}*/
/*
  End typographics
  =========
  */
/**
  Grid
  ======
  */
/**
  End grid
  =======
  */
/**
 z-index levels
 */
/**
Experimentals - not finished
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f2f2f2; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.outdated-browser {
  display: none;
  text-align: center;
  background: #fec2c1;
  border-bottom: 1px solid #d86a73;
  margin: 0;
  padding: 1.5em;
  font-family: sans-serif;
  line-height: 1.3;
  color: #333;
  font-size: .9em; }
  .outdated-browser p {
    margin: 0; }
  .outdated-browser img {
    display: block;
    margin: 0 auto 1em; }
  .outdated-browser a {
    color: #333;
    font-weight: bold; }

.ie10 .outdated-browser, .ie .outdated-browser {
  display: block; }

.placeholder {
  background-image: url("https://unsplash.it/1000/1000"); }
  .placeholder--wide {
    background-image: url("https://unsplash.it/1280/720"); }

.screen {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  width: 15em;
  margin: auto;
  z-index: 9999; }
  .screen:before {
    transition: background .2s ease-out;
    display: block;
    padding: .5em;
    color: #fff; }
    @media (min-width: 23.4375em) {
      .screen:before {
        background: rgba(125, 0, 0, 0.8);
        content: 'mobile-lg'; } }
    @media (min-width: mobile-lg) {
      .screen:before {
        background: rgba(125, 0, 0, 0.8);
        content: 'mobile-lg'; } }
    @media (min-width: 31.25em) {
      .screen:before {
        background: rgba(125, 125, 0, 0.8);
        content: 'mobile-xl'; } }
    @media (min-width: 42.5em) {
      .screen:before {
        background: rgba(125, 0, 125, 0.8);
        content: 'tablet-sm'; } }
    @media (min-width: 60em) {
      .screen:before {
        background: rgba(0, 125, 125, 0.8);
        content: 'tablet-lg'; } }
    @media (min-width: 68.75em) {
      .screen:before {
        background: rgba(0, 125, 0, 0.8);
        content: 'laptop-sm'; } }
    @media (min-width: 80em) {
      .screen:before {
        background: rgba(0, 0, 125, 0.8);
        content: 'laptop-lg'; } }
    @media (min-width: 87.5em) {
      .screen:before {
        background: rgba(125, 0, 255, 0.8);
        content: 'desktop-sm'; } }
    @media (min-width: 100em) {
      .screen:before {
        background: rgba(125, 255, 255, 0.8);
        content: 'desktop-lg'; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #371A45;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 600;
  word-break: break-word; }

h1,
.h1 {
  font-size: 4.8rem;
  /*@include breakpoint(tablet-lg-max) {
    font-size: $font-size-medium-large;
  }
  */ }
  @media (max-width: 31.24999em) {
    h1,
    .h1 {
      font-size: 36px; } }

h2,
.h2 {
  font-size: 24px; }
  @media (max-width: 31.24999em) {
    h2,
    .h2 {
      font-size: 24px; } }

h3,
.h3 {
  font-size: 2.4rem;
  /*@include breakpoint(tablet-lg-max) {
    font-size: $font-size-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-tiny;
  }*/ }

h4,
.h4 {
  font-size: 2rem;
  /*
  @include breakpoint(tablet-lg-max) {
    font-size: $font-size-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-tiny;
  }
  */ }

h5,
.h5 {
  font-size: 1.4rem;
  /*
  @include breakpoint(tablet-lg-max) {
    font-size: $font-size-x-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-x-tiny;
  }
  */ }

h6,
.h6 {
  font-size: 1rem;
  /* @include breakpoint(tablet-lg-max) {
    font-size: $font-size-x-tiny;
  }
  @include breakpoint(mobile-xl-max) {
    font-size: $font-size-x-tiny;
  }
  */ }

article {
  font-size: 1.4rem; }
  @media (max-width: 60em) {
    article {
      font-size: 1.2rem; } }
  @media (max-width: 31.24999em) {
    article {
      font-size: 1rem; } }

p, .p {
  color: #0B203A;
  line-height: calc(30/18);
  margin: 0 0 1.6;
  font-size: 16px;
  font-weight: 400; }
  p.text-lead, .p.text-lead {
    font-weight: bold;
    color: #371A45; }
    .single-article p.text-lead, .single-article .p.text-lead {
      line-height: 1.4;
      font-size: 2rem; }
      @media (max-width: 60em) {
        .single-article p.text-lead, .single-article .p.text-lead {
          font-size: 1.6rem; } }
      @media (max-width: 31.24999em) {
        .single-article p.text-lead, .single-article .p.text-lead {
          font-size: 1rem; } }

.big-title {
  color: white;
  line-height: 1;
  font-size: 6.4rem;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  font-weight: 900; }
  @media (max-width: 68.7499em) {
    .big-title {
      font-size: 4.8rem; } }
  @media (max-width: 31.24999em) {
    .big-title {
      font-size: 3.6rem; } }

a,
ins,
u {
  text-decoration-skip: ink edges; }

time {
  display: inline-block;
  margin: 0 0 .5rem; }

p > time {
  display: inline;
  margin: 0; }

blockquote {
  border-left: 0.2rem solid #e7e9ed;
  margin-left: 0;
  padding: 0.8rem 1.6rem; }
  blockquote p:last-child {
    margin-bottom: 0; }
  blockquote cite {
    color: #808ba1; }

.meta-text {
  display: inline-block;
  font-size: 1rem;
  margin: 0.5em 0;
  text-transform: uppercase; }
  .single-article .meta-text:not(.card__meta) {
    margin-bottom: 20px; }

ul,
ol {
  margin: 1.6rem 0 1.6rem 1.6rem;
  padding: 0; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 1.6rem 0 1.6rem 1.6rem; }
  ul li,
  ol li {
    margin-top: 0.8rem; }

ul {
  list-style: disc inside; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style: decimal inside; }
  ol ol {
    list-style-type: lower-alpha; }

dl dt {
  font-weight: bold; }

dl dd {
  margin: 0.8rem 0 1.6rem 0; }

.lead {
  font-size: 120%; }

abbr[title] {
  border-bottom: 0.1rem dotted;
  cursor: help;
  text-decoration: none; }

mark,
.highlight {
  background: #ffe9b3;
  color: #50596c;
  border-radius: 10px;
  padding: .05rem; }

kbd {
  border-radius: 10px;
  line-height: 1.2;
  padding: .1rem .15rem;
  background: #454d5d;
  color: #fff;
  font-size: 1.6rem; }

pre {
  background: #f3f4f6;
  border-left: 0.2rem solid #d8dce2;
  line-height: 1.8rem;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  padding: 1.5rem 2.5rem; }

code {
  background: #e7e9ed;
  border-radius: 10px;
  line-height: 1.2;
  padding: .1rem .15rem;
  white-space: nowrap; }
  pre code {
    background: transparent;
    border-left: 0;
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 0; }

.label {
  border-radius: 10px;
  line-height: 1.2;
  padding: .1rem .15rem;
  background: #f7f7f7;
  color: #5b657a;
  display: inline-block; }
  .label--rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; }
  .label--primary {
    background: #371A45;
    color: #fff; }
  .label--secondary {
    background: #50E3C2;
    color: #371A45; }
  .label--success {
    background: #32b643;
    color: #fff; }
  .label--warning {
    background: #ffb700;
    color: #fff; }
  .label--error {
    background: #e85600;
    color: #fff; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img--fit-cover {
  object-fit: cover; }

.img--fit-contain {
  object-fit: contain; }

.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; }
  .video-responsive::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; }
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

video.video-responsive {
  height: auto;
  max-width: 100%; }
  video.video-responsive::before {
    content: none; }

.video-responsive--4-3::before {
  padding-bottom: 75%; }

.video-responsive--1-1::before {
  padding-bottom: 100%; }

.figure {
  margin: 0 0 10px 0; }
  .figure__caption {
    color: #667189;
    margin-top: 10px; }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%; }
  .table--scroll {
    max-width: 100%; }
    @media (max-width: 42.499em) {
      .table--scroll {
        display: inline-block;
        overflow: scroll; } }
  .table tr:nth-child(even) {
    background: #f2f2f2; }
  .table--striped tbody tr:nth-of-type(odd) {
    background: #fff; }
  .table--hover tbody tr:hover {
    background: #f7f7f7; }
  .table tbody tr.active, .table.table--striped tbody tr.active {
    background: #f7f7f7; }
  .table td,
  .table th {
    border-bottom: 0.1rem solid #e7e9ed;
    padding: 1.2rem 0.8rem; }
    .table td:last-child,
    .table th:last-child {
      text-align: right; }
  .table th {
    border-bottom-width: 0.2rem; }
  .table-container {
    padding: 4em 0; }

.table-split-times + .table-split-times {
  margin-top: 40px; }

.table-split-times__gender-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .table-split-times__gender-container .gender-img {
    margin-right: 10px; }
    .table-split-times__gender-container .gender-img-m {
      height: 13px;
      width: 13px; }
    .table-split-times__gender-container .gender-img-w {
      height: 15px;
      width: 9px; }

.table-split-times h2, .table-split-times h3 {
  margin: 0; }

.table-visma {
  width: 100%;
  position: relative;
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-transform: uppercase; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .table-visma {
      display: table; } }
  .table-visma thead {
    background-color: white;
    border-bottom: 2px solid #0B203A; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .table-visma thead {
        display: block; } }
    .table-visma thead tr {
      display: -ms-flexbox;
      display: flex; }
      .table-visma thead tr th {
        text-align: left;
        padding: 0 18px;
        color: #0C9DDB;
        font-weight: 500; }
      .table-visma thead tr th:nth-child(1) {
        width: 50px;
        padding-left: 0; }
      .table-visma thead tr th:nth-child(2) {
        width: 25%; }
      .table-visma thead tr th:nth-child(3) {
        width: 10%; }
      .table-visma thead tr th:nth-last-child(2) {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .table-visma thead tr th:nth-last-child(2) {
            width: 100%; } }
      .skier__table-container .table-visma thead tr th:nth-child(2) {
        width: 35%; }
      .skier__table-container .table-visma thead tr th:nth-child(3) {
        width: 20%; }
      .skier__table-container .table-visma thead tr th:nth-last-child(2) {
        width: 25%;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
      .skier__table-container .table-visma thead tr th:nth-last-child(1) {
        width: auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: right; }
    @media screen and (max-width: 600px) {
      .table-visma thead {
        display: none; } }
  .table-visma__header-container {
    height: 40px;
    position: relative; }
  .table-visma__sc-rank-img {
    margin-right: 20px;
    max-height: 38px;
    max-width: 194px; }
  .table-visma__header {
    position: absolute;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: auto; }
    .table-visma__header-gender {
      color: #0C9DDB;
      margin-left: 10px; }
    .table-visma__header.header__champion, .table-visma__header.header__youth, .table-visma__header.header__climb, .table-visma__header.header__sprint, .table-visma__header.header__pro, .table-visma__header.header__nordictrophy, .table-visma__header.header__alptrophy {
      padding-left: 50px; }
      .table-visma__header.header__champion:after, .table-visma__header.header__youth:after, .table-visma__header.header__climb:after, .table-visma__header.header__sprint:after, .table-visma__header.header__pro:after, .table-visma__header.header__nordictrophy:after, .table-visma__header.header__alptrophy:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: auto;
        height: 100%;
        width: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
    .table-visma__header.header__champion:after {
      background-image: url("../images/bib-champion.png"); }
    .table-visma__header.header__youth:after {
      background-image: url("../images/bib-youth.png"); }
    .table-visma__header.header__climb:after {
      background-image: url("../images/bib-climb.png"); }
    .table-visma__header.header__sprint:after {
      background-image: url("../images/bib-sprint.png"); }
    .table-visma__header.header__pro:after {
      background-image: url("../images/bib-team.png"); }
    .table-visma__header.header__nordictrophy:after {
      background-image: url("../images/bib-nordictrophy.png"); }
    .table-visma__header.header__alptrophy:after {
      background-image: url("../images/bib-alptrophy.png"); }
  .table-visma tbody {
    width: 100%;
    font-weight: 500;
    font-size: 18px; }
    .table-visma tbody tr {
      display: -ms-flexbox;
      display: flex;
      padding: 14px 0px; }
    .table-visma tbody tr:nth-child(odd) {
      background-color: #E6F5FB; }
    .table-visma tbody tr {
      display: -ms-flexbox;
      display: flex; }
      .table-visma tbody tr td:nth-child(1) {
        width: 50px; }
      .table-visma tbody tr td:nth-child(2) {
        width: 25%; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .table-visma tbody tr td:nth-child(2) {
            width: 22%; } }
      .table-visma tbody tr td:nth-child(3) {
        width: 10%; }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .table-visma tbody tr td:nth-child(3) {
            width: 8%; } }
      .table-visma tbody tr td:nth-last-child(2) {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto; }
      .table-visma tbody tr td:nth-last-child(1) {
        width: 25%;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .skier__table-container .table-visma tbody tr td:nth-child(2) {
        width: 35%; }
      .skier__table-container .table-visma tbody tr td:nth-child(3) {
        width: 20%; }
      .skier__table-container .table-visma tbody tr td:nth-last-child(2) {
        width: 25%;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
      .skier__table-container .table-visma tbody tr td:nth-last-child(1) {
        width: auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .table-visma tbody tr td {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: end;
        align-items: flex-end;
        padding: 0 18px; }
        .table-visma tbody tr td a {
          line-height: 1; }
        .table-visma tbody tr td .flag {
          max-width: 20px;
          margin-right: 8px; }
        .table-visma tbody tr td .suit {
          max-height: 28px;
          width: auto;
          margin-right: 0.5rem; }
    @media screen and (max-width: 600px) {
      .table-visma tbody tr {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; }
        .table-visma tbody tr td {
          width: 100% !important;
          text-align: center;
          -ms-flex-pack: start !important;
          justify-content: flex-start !important;
          -ms-flex-align: center;
          align-items: center; }
          .table-visma tbody tr td.country {
            display: none; }
          .table-visma tbody tr td .flag.show-sm {
            margin-left: 8px; } }
  .table-visma .table__rank {
    width: 20px; }
  .table-visma .table__name {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .table-visma + .button, .table-visma + .bottom_anchor + .button {
    margin-top: 10px; }

.bottom_anchor + .maintable:before {
  content: "";
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: white;
  visibility: visible; }

.bottom_anchor + .maintable.scroll-up:before {
  height: 170px; }

.skier .maintable:before {
  content: "";
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: white;
  visibility: visible; }

.skier .maintable.scroll-up:before {
  height: 170px; }

.ranking td.rank {
  padding-left: 5px;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }
  .ranking td.rank .previous-rank {
    margin: 0 2px;
    opacity: 0.5; }

.ranking .table-container {
  padding-top: 0; }

img {
  max-width: 100%; }

* {
  -ms-overflow-style: none;
  outline: none; }
  * ::-webkit-scrollbar {
    width: 0 !important; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    * {
      -ms-font-feature-settings: normal; } }

.chart-container {
  position: relative;
  height: 300px;
  width: 100%; }
  @media (max-width: 31.24999em) {
    .chart-container {
      height: 200px; } }

html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background: white;
  color: #371A45;
  min-height: 100vh;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: sofia-pro, sans-serif;
  position: relative;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.page-template-page-livecenter, body.page-template-page-splittimes {
    background-color: #0B203A;
    color: white; }
    body.page-template-page-livecenter pre, body.page-template-page-splittimes pre {
      background-color: #D70048; }
  @media (max-width: 31.24999em) {
    body {
      font-size: 14px; } }
  body.fade-out {
    opacity: 0;
    transition: none; }

label {
  cursor: pointer; }

main {
  padding-top: 60px;
  padding-bottom: 50px;
  overflow: hidden;
  min-height: 100vh;
  opacity: 1;
  transition: 1s opacity; }
  main.shop-page, .home main, .page-template-page-livecenter main, .page-template-page-shop main, .post-type-archive-events main {
    padding-top: 60px; }
  @media (max-width: 840px) {
    main {
      padding-top: 60px; }
      .home main, .single-pro_teams main, .single-events main {
        padding-top: 60px; } }
  main.fade-out {
    opacity: 0; }
  main.fade-out-transition {
    opacity: 0; }

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  transition: 1s opacity;
  z-index: -1; }
  .main-background img {
    width: auto;
    opacity: 0.5; }
  main.fade-out + .main-background, main.fade-out-transition + .main-background {
    opacity: 1;
    z-index: 3; }

.svg-wrap {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  overflow: hidden; }

[disabled],
.disabled {
  cursor: default;
  opacity: .75;
  pointer-events: none; }

figure {
  margin: 0; }

img {
  height: auto;
  width: 100%; }

a {
  color: #371A45;
  outline: none;
  text-decoration: none; }
  a:focus, a:hover, a:active, a.active {
    color: #281332;
    text-decoration: underline; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.background-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden; }
  .background-video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }
  .overlay--black {
    background-color: rgba(0, 0, 0, 0.3); }
  .overlay--black-gradient {
    background-image: linear-gradient(transparent, transparent, black); }
  .overlay--primary_color {
    background-color: #371A45;
    opacity: 0.3; }
  .overlay--secondary_color {
    background-color: #50E3C2;
    opacity: 0.3; }

.fade-in {
  opacity: 0;
  animation: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.single article {
  padding-bottom: 3rem; }

article img {
  width: auto; }

.no-scrolling {
  overflow: hidden;
  max-height: 100vh; }

.text-opacity {
  opacity: 0.5; }

.cyan-subtitle {
  color: #0C9DDB;
  margin-left: 20px; }

.flag {
  max-width: 23px;
  display: inline-block; }
  .flag--container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end; }
    .flag--container .flag {
      margin-right: 10px; }
    .flag--container p {
      margin-bottom: 0;
      line-height: 1; }

.register-page .help-block {
  background: #D70048;
  color: white;
  padding: 1rem;
  margin-top: 1rem; }

.scroll-auto {
  -webkit-overflow-scrolling: auto;
  /* Stops scrolling immediately */ }

.visma-table, .visma-table tbody {
  width: 100%; }

.visma-table tr td {
  padding: 5px; }
  .visma-table tr td:nth-child(1), .visma-table tr td:nth-child(2), .visma-table tr td:nth-child(4), .visma-table tr td:nth-child(5) {
    width: 50px; }
  .visma-table tr td:nth-child(6) {
    width: 75px; }
  .visma-table tr td:last-child {
    text-align: right; }

.visma-table tr:nth-child(even) {
  background: #E5EAF0; }

.flag {
  max-width: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .flag svg {
    max-width: 100%; }

.image-field-fallback {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px; }

.expired {
  cursor: not-allowed;
  opacity: 0.7; }
  .expired * {
    pointer-events: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }
  .container--max-width {
    max-width: 780px; }
  .container--max-width--less {
    max-width: 960px; }
    .page-template-default .container--max-width--less {
      margin-top: 30px; }
  .container.grid-xl {
    max-width: 1600px; }
  .container.grid-lg {
    max-width: 1280px; }
  .container.grid-md {
    max-width: 1160px; }
  .container.grid-sm {
    max-width: 920px; }
  .container.grid-xs {
    max-width: 800px; }

.show-xs,
.show-sm,
.show-md,
.show-lg {
  display: none !important; }

.cols {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .cols--no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .cols--gapless {
    margin-left: 0;
    margin-right: 0; }
    .cols--gapless > .col {
      padding-left: 0;
      padding-right: 0; }
  .cols--oneline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; }
  .cols--row {
    -ms-flex-direction: row;
    flex-direction: row; }
  .cols--column {
    -ms-flex-direction: column;
    flex-direction: column; }
  .cols--justify-center {
    -ms-flex-pack: center;
    justify-content: center; }
  .cols--justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .cols--justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .cols--justify-space {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .cols--align-center {
    -ms-flex-align: center;
    align-items: center; }
  .cols--align-start {
    -ms-flex-align: start;
    align-items: flex-start; }
  .cols--align-end {
    -ms-flex-align: end;
    align-items: flex-end; }
  .cols--reverse .col:first-child {
    -ms-flex-order: 2;
    order: 2; }
  .cols--reverse .col:not(:first-child) {
    -ms-flex-order: 1;
    order: 1; }

.col {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px; }
  .col.gap {
    padding-top: 10px;
    padding-bottom: 10px; }
  .col--gapless {
    padding: 0; }
  .col--dont-grow {
    -ms-flex-positive: 0;
    flex-grow: 0; }
  .col--dont-shrink {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col--do-grow {
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .col--do-shrink {
    -ms-flex-negative: 1;
    flex-shrink: 1; }
  .col--border {
    border: 1px solid #f2f2f2; }
  .col--12, .col--11, .col--10, .col--9, .col--8, .col--7, .col--6, .col--5, .col--4, .col--3, .col--2, .col--1 {
    -ms-flex: none;
    flex: none; }
  .col--12 {
    width: 100%; }
  .col--11 {
    width: 91.66666667%; }
  .col--10 {
    width: 83.33333333%; }
  .col--9 {
    width: 75%; }
  .col--8 {
    width: 66.66666667%; }
  .col--7 {
    width: 58.33333333%; }
  .col--6 {
    width: 50%; }
  .col--5 {
    width: 41.66666667%; }
  .col--4 {
    width: 33.33333333%; }
  .col--3 {
    width: 25%; }
  .col--2 {
    width: 16.66666667%; }
  .col--1 {
    width: 8.33333333%; }
  .col--auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
    width: auto; }
  .col--mx-auto {
    margin-left: auto;
    margin-right: auto; }
  .col--ml-auto {
    margin-left: auto; }
  .col--mr-auto {
    margin-right: auto; }

.cols--smaller {
  margin-left: -5px;
  margin-right: -5px; }
  .cols--smaller .col {
    padding-left: 5px;
    padding-right: 5px; }
    .cols--smaller .col.gap {
      padding-top: 5px;
      padding-bottom: 5px; }

@media screen and (max-width: 960px) {
  .col-lg--12, .col-lg--11, .col-lg--10, .col-lg--9, .col-lg--8, .col-lg--7, .col-lg--6, .col-lg--5, .col-lg--4, .col-lg--3, .col-lg--2, .col-lg--1 {
    -ms-flex: none;
    flex: none; }
  .col-lg--12 {
    width: 100%; }
  .col-lg--11 {
    width: 91.66666667%; }
  .col-lg--10 {
    width: 83.33333333%; }
  .col-lg--9 {
    width: 75%; }
  .col-lg--8 {
    width: 66.66666667%; }
  .col-lg--7 {
    width: 58.33333333%; }
  .col-lg--6 {
    width: 50%; }
  .col-lg--5 {
    width: 41.66666667%; }
  .col-lg--4 {
    width: 33.33333333%; }
  .col-lg--3 {
    width: 25%; }
  .col-lg--2 {
    width: 16.66666667%; }
  .col-lg--1 {
    width: 8.33333333%; }
  .hide-xl {
    display: none !important; }
  .show-xl {
    display: block !important; } }

@media screen and (max-width: 840px) {
  .col-md--12, .col-md--11, .col-md--10, .col-md--9, .col-md--8, .col-md--7, .col-md--6, .col-md--5, .col-md--4, .col-md--3, .col-md--2, .col-md--1 {
    -ms-flex: none;
    flex: none; }
  .col-md--12 {
    width: 100%; }
  .col-md--11 {
    width: 91.66666667%; }
  .col-md--10 {
    width: 83.33333333%; }
  .col-md--9 {
    width: 75%; }
  .col-md--8 {
    width: 66.66666667%; }
  .col-md--7 {
    width: 58.33333333%; }
  .col-md--6 {
    width: 50%; }
  .col-md--5 {
    width: 41.66666667%; }
  .col-md--4 {
    width: 33.33333333%; }
  .col-md--3 {
    width: 25%; }
  .col-md--2 {
    width: 16.66666667%; }
  .col-md--1 {
    width: 8.33333333%; }
  .hide-md {
    display: none !important; }
  .show-md {
    display: block !important; }
    .show-md.cols {
      display: -ms-flexbox !important;
      display: flex !important; } }

@media screen and (max-width: 600px) {
  .col-sm--12, .col-sm--11, .col-sm--10, .col-sm--9, .col-sm--8, .col-sm--7, .col-sm--6, .col-sm--5, .col-sm--4, .col-sm--3, .col-sm--2, .col-sm--1 {
    -ms-flex: none;
    flex: none; }
  .col-sm--12 {
    width: 100%; }
  .col-sm--11 {
    width: 91.66666667%; }
  .col-sm--10 {
    width: 83.33333333%; }
  .col-sm--9 {
    width: 75%; }
  .col-sm--8 {
    width: 66.66666667%; }
  .col-sm--7 {
    width: 58.33333333%; }
  .col-sm--6 {
    width: 50%; }
  .col-sm--5 {
    width: 41.66666667%; }
  .col-sm--4 {
    width: 33.33333333%; }
  .col-sm--3 {
    width: 25%; }
  .col-sm--2 {
    width: 16.66666667%; }
  .col-sm--1 {
    width: 8.33333333%; }
  .hide-sm {
    display: none !important; }
  .show-sm {
    display: block !important; } }

@media screen and (max-width: 480px) {
  .col-xs--12, .col-xs--11, .col-xs--10, .col-xs--9, .col-xs--8, .col-xs--7, .col-xs--6, .col-xs--5, .col-xs--4, .col-xs--3, .col-xs--2, .col-xs--1 {
    -ms-flex: none;
    flex: none; }
  .col-xs--12 {
    width: 100%; }
  .col-xs--11 {
    width: 91.66666667%; }
  .col-xs--10 {
    width: 83.33333333%; }
  .col-xs--9 {
    width: 75%; }
  .col-xs--8 {
    width: 66.66666667%; }
  .col-xs--7 {
    width: 58.33333333%; }
  .col-xs--6 {
    width: 50%; }
  .col-xs--5 {
    width: 41.66666667%; }
  .col-xs--4 {
    width: 33.33333333%; }
  .col-xs--3 {
    width: 25%; }
  .col-xs--2 {
    width: 16.66666667%; }
  .col-xs--1 {
    width: 8.33333333%; }
  .hide-xs {
    display: none !important; }
  .show-xs {
    display: block !important; } }

@media (max-width: 840px) {
  .hide-mobile {
    display: none !important; } }

@media (min-width: 840px) {
  .show-mobile {
    display: none !important; } }

.container > .cols:not(.cols--smaller) {
  margin-left: 0;
  margin-right: 0; }

/**
	TODO - BREAKOUT ?!
 */
.text-primary {
  color: #371A45; }

a.text-primary:focus, a.text-primary:hover {
  color: #281332; }

.text-secondary {
  color: #43e1bd; }

a.text-secondary:focus, a.text-secondary:hover {
  color: #2dddb6; }

.text-gray {
  color: #acb3c2; }

a.text-gray:focus, a.text-gray:hover {
  color: #9ea6b7; }

.text-light {
  color: #fff; }

a.text-light:focus, a.text-light:hover {
  color: #f2f2f2; }

.text-success {
  color: #32b643; }

a.text-success:focus, a.text-success:hover {
  color: #2da23c; }

.text-warning {
  color: #ffb700; }

a.text-warning:focus, a.text-warning:hover {
  color: #e6a500; }

.text-error {
  color: #e85600; }

a.text-error:focus, a.text-error:hover {
  color: #cf4d00; }

.bg-primary {
  background: #371A45; }

.bg-secondary {
  background: #50E3C2; }

.bg-dark {
  background: #454d5d; }

.bg-gray {
  background: #fff; }

.bg-success {
  background: #32b643; }

.bg-warning {
  background: #ffb700; }

.bg-error {
  background: #e85600; }

.padding-header {
  padding-top: 60px; }

.background--dark {
  background: #371A45;
  min-height: 100vh; }

.color--light {
  color: white; }

.text--dark {
  color: #371A45 !important; }

.color--meta {
  opacity: 0.8; }

.partial-padding {
  padding-top: 2rem; }

.badge-img-size {
  width: 80px;
  height: 80px;
  max-height: 80px;
  max-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .badge-img-size img {
      max-height: 80px;
      max-width: 80px; } }
  .content-row .badge-img-size {
    width: 80px;
    height: 80px;
    max-height: 80px;
    max-width: 80px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .content-row .badge-img-size img {
        max-height: 80px;
        max-width: 80px; } }

.border--bottom {
  border-bottom: 1px solid #f2f2f2; }

.color--challenger, .color--challenger * {
  color: #2b4496 !important; }

.color--pro, .color--pro * {
  color: #D70048 !important; }

.color--cyan, .color--cyan * {
  color: #0C9DDB !important; }

.background--challenger {
  background: #2b4496 !important; }

.background--pro {
  background: #D70048 !important; }

.margin-top--small {
  margin-top: 2rem; }

.margin-top--medium {
  margin-top: 20px; }

.margin-top--large {
  margin-top: 50px; }

.margin-bottom {
  margin-bottom: 30px; }
  .margin-bottom--small {
    margin-bottom: 6px; }
  .margin-bottom--medium {
    margin-bottom: 20px; }
  .margin-bottom--large {
    margin-bottom: 50px; }

.margin-left {
  margin-left: 30px; }
  .margin-left--small {
    margin-left: 6px; }
  .margin-left--medium {
    margin-left: 20px; }
  .margin-left--large {
    margin-left: 50px; }

.padding--mini {
  padding: 1rem; }

.padding--small {
  padding: 2rem; }

.padding--medium {
  padding: 4rem; }

.padding--large {
  padding: 6rem; }

.padding-top--mini {
  padding-top: 1rem; }

.padding-top--small {
  padding-top: 2rem; }

.padding-top--medium {
  padding-top: 4rem; }

.padding-top--large {
  padding-top: 6rem; }

.padding-bottom--mini {
  padding-bottom: 1rem; }

.padding-bottom--small {
  padding-bottom: 2rem; }

.padding-bottom--medium {
  padding-bottom: 4rem; }

.padding-bottom--large {
  padding-bottom: 6rem; }

.no-margin {
  margin: 0 !important; }
  .no-margin--bottom {
    margin-bottom: 0; }

.no-padding {
  padding: 0; }
  .no-padding--bottom {
    padding-bottom: 0 !important; }
  .no-padding--top {
    padding-top: 0 !important; }
  .no-padding--right {
    padding-right: 0 !important; }
  .no-padding--left {
    padding-left: 0 !important; }

.no-line-height {
  line-height: 0; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.full-width--vw {
  width: 100vw; }

.full-height--vh {
  height: 100vh; }

.margin--bottom {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 30px; }

.padding-block {
  padding-top: 30px;
  padding-bottom: 30px; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left !important; }

.text--right {
  text-align: right; }

.text--justify {
  text-align: justify; }

.text--lowercase {
  text-transform: lowercase; }

.text--uppercase {
  text-transform: uppercase; }

.text--capitalize {
  text-transform: capitalize; }

.text--normal {
  font-weight: normal; }

.text--bold {
  font-weight: bold; }

.text--italic {
  font-style: italic; }

.text--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text--clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.text--break {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word; }

.text--hide {
  background: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  position: absolute;
  z-index: -2;
  pointer-events: none;
  opacity: 0; }

.text--light {
  color: white; }

.float--left {
  float: left; }

.float--right {
  float: right; }

/**
	redo these
 */
.mt--10 {
  margin-top: 1rem; }

.mt--5 {
  margin-top: 0.5rem; }

.mr--10 {
  margin-right: 1rem; }

.mr--5 {
  margin-right: 0.5rem; }

.mb--10 {
  margin-bottom: 1rem; }

.mb--5 {
  margin-bottom: 0.5rem; }

.ml--10 {
  margin-left: 1rem; }

.ml--5 {
  margin-left: 0.5rem; }

.pt--10 {
  padding-top: 1rem; }

.pt--5 {
  padding-top: 0.5rem; }

.pr--10 {
  padding-right: 1rem; }

.pr--5 {
  padding-right: 0.5rem; }

.pb--10 {
  padding-bottom: 1rem; }

.pb--5 {
  padding-bottom: 0.5rem; }

.pl--10 {
  padding-left: 1rem; }

.pl--5 {
  padding-left: 0.5rem; }

.clearfix::after, .container::after {
  content: "";
  display: table;
  clear: both; }

.rel {
  position: relative; }

.abs {
  position: absolute; }
  .abs--left {
    left: 0; }

.fixed {
  position: fixed; }

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.flex {
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.hide {
  display: none !important; }
  .hide--category {
    display: none; }
  .hide--searchword {
    display: none; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

.hand {
  cursor: pointer; }

.shadow {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); }

.light-shadow {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15); }

.rounded {
  border-radius: 10px; }

.circle {
  border-radius: 50%; }

.caret {
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid currentColor;
  display: inline-block;
  height: 0;
  margin: 0 .2rem;
  vertical-align: middle;
  width: 0; }

.loading {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative; }
  .loading:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 200;
    background-color: white; }
  .loading::after {
    animation: loading 500ms infinite linear;
    border: 0.4rem solid white;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.6rem;
    left: 50%;
    margin-left: -0.8rem;
    margin-top: -0.8rem;
    position: absolute;
    top: 50%;
    width: 1.6rem;
    z-index: 1; }
  .loading--large {
    min-height: 4rem; }
    .loading--large::after {
      height: 3.2rem;
      margin-left: -1.6rem;
      margin-top: -1.6rem;
      width: 3.2rem; }

.divider,
.divider-vert {
  display: block;
  position: relative; }
  .divider[data-content]::after,
  .divider-vert[data-content]::after {
    background: #fff;
    color: #acb3c2;
    content: attr(data-content);
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 0.8rem;
    transform: translateY(-1.5rem); }

.divider {
  border-top: 0.1rem solid #e7e9ed;
  height: 0.1rem;
  margin: 0.8rem 0; }
  .divider[data-content] {
    margin: 1.6rem 0; }

.divider-vert {
  display: block;
  padding: 1.6rem; }
  .divider-vert::before {
    border-left: 0.1rem solid #e7e9ed;
    bottom: 0.8rem;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0.8rem;
    transform: translateX(-50%); }
  .divider-vert[data-content]::after {
    left: 50%;
    padding: 0.4rem 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.d-none,
.d-hide {
  display: none !important; }

.d-visible {
  visibility: visible; }

.d-invisible {
  visibility: hidden; }

.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none; }

.text-assistive {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.m-0 {
  margin: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-bottom: 0;
  margin-top: 0; }

.m-1 {
  margin: 0.4rem; }

.mb-1 {
  margin-bottom: 0.4rem; }

.ml-1 {
  margin-left: 0.4rem; }

.mr-1 {
  margin-right: 0.4rem; }

.mt-1 {
  margin-top: 0.4rem; }

.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.my-1 {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem; }

.m-2 {
  margin: 0.8rem; }

.mb-2 {
  margin-bottom: 0.8rem; }

.ml-2 {
  margin-left: 0.8rem; }

.mr-2 {
  margin-right: 0.8rem; }

.mt-2 {
  margin-top: 0.8rem; }

.mx-2 {
  margin-left: 0.8rem;
  margin-right: 0.8rem; }

.my-2 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem; }

.p-0 {
  padding: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-bottom: 0;
  padding-top: 0; }

.p-1 {
  padding: 0.4rem; }

.pb-1 {
  padding-bottom: 0.4rem; }

.pl-1 {
  padding-left: 0.4rem; }

.pr-1 {
  padding-right: 0.4rem; }

.pt-1 {
  padding-top: 0.4rem; }

.px-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.py-1 {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem; }

.p-2 {
  padding: 0.8rem; }

.pb-2 {
  padding-bottom: 0.8rem; }

.pl-2 {
  padding-left: 0.8rem; }

.pr-2 {
  padding-right: 0.8rem; }

.pt-2 {
  padding-top: 0.8rem; }

.px-2 {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.py-2 {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.text-break {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word; }

.header {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 10px;
  z-index: 10; }
  .header__menu-toggle {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    z-index: -1; }
    .header__menu-toggle:checked + .header__menu {
      right: 0; }
      .header__menu-toggle:checked + .header__menu .header__menu-inner-toggle {
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        pointer-events: all; }
  .header__menu {
    position: fixed;
    width: 100vw;
    right: -100vw;
    transition: all 0.2s ease-in-out;
    top: 0;
    bottom: 0;
    z-index: 10; }
    .header__menu-inner {
      background: #50E3C2;
      max-width: 300px;
      z-index: 30;
      width: 80vw;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0; }
    .header__menu-inner-toggle {
      width: 300vw;
      position: absolute;
      left: -180vw;
      top: 0;
      bottom: 0;
      background: transparent;
      transition: background 0.2s ease-in-out;
      transition-delay: 0.2s;
      z-index: -1;
      pointer-events: none; }
    .header__menu-list {
      list-style: none;
      margin: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px; }
      .header__menu-list li {
        font-size: 24px;
        margin-top: 20px; }

.header-height {
  height: 50px; }

.http-page__code {
  font-size: calc(15vw); }

@media print {
  * {
    background-image: none !important;
    border-color: black !important; }
  body {
    background: #fff !important;
    color: black !important;
    -webkit-print-color-adjust: exact; }
  .highlight {
    background: black !important;
    color: white !important; }
  .break-print {
    page-break-after: auto; }
  .hidden-print, .screen {
    display: none !important; }
  .visible-print {
    display: block !important; }
  .page-break {
    display: block;
    page-break-before: always !important; }
  img:not(.printable) {
    display: none !important; }
  h1, h2, h3, h4, h5, h6, code, pre {
    color: #000;
    text-transform: none;
    /* because sometimes I set all-caps */ }
  code, pre {
    font-size: 8pt;
    background-color: transparent;
    /* just in case the user configured browser to print backgrounds */ }
  blockquote {
    background-image: none;
    /* though they may not print, I&rsquo;d rather be sure */ }
  a:link, a:visited {
    text-decoration: underline;
    color: #000; } }

.form {
  border: 1px solid black;
  padding: 5px; }
  .form + .form {
    margin-top: 20px; }
  .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white; }
    .form-group + .form-group {
      margin-top: 16px; }
    .form-group.has-error .help-block {
      color: #e85600; }
  .form__element--hidden {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: absolute;
    max-width: 20px; }

input:not([type="checkbox"]), textarea, select {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  color: #371A45;
  border: 1px solid rgba(55, 26, 69, 0.1);
  font-size: 18px; }

.tooltip {
  position: relative; }
  .tooltip::after {
    background: rgba(69, 77, 93, 0.9);
    border-radius: 10px;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: 1.6rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: 0.4rem 0.8rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, 0.8rem);
    transition: all .2s ease;
    white-space: pre;
    z-index: 300; }
  .tooltip:focus::after, .tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%, -0.4rem); }
  .tooltip[disabled], .tooltip.disabled {
    pointer-events: auto; }
  .tooltip--right::after {
    bottom: 50%;
    left: 100%;
    transform: translate(-0.4rem, 50%); }
  .tooltip--right:focus::after, .tooltip--right:hover::after {
    transform: translate(0.4rem, 50%); }
  .tooltip--bottom::after {
    bottom: auto;
    top: 100%;
    transform: translate(-50%, -0.8rem); }
  .tooltip--bottom:focus::after, .tooltip--bottom:hover::after {
    transform: translate(-50%, 0.4rem); }
  .tooltip--left::after {
    bottom: 50%;
    left: auto;
    right: 100%;
    transform: translate(0.8rem, 50%); }
  .tooltip--left:focus::after, .tooltip--left:hover::after {
    transform: translate(-0.4rem, 50%); }

.notification {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 10px;
  left: 50%; }
  .notification.error {
    background: #e85600; }

.bingo-tile {
  border-radius: 20px;
  border: 1px solid #D7D1DA;
  background: transparent;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
  transition: background 0.2s ease-in-out; }
  .bingo-tile.active {
    background: #371A45;
    border-color: #371A45;
    color: white; }
    .bingo-tile.active .bingo-tile__content {
      text-decoration: line-through; }
  .bingo-tile__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    line-height: 1.1;
    text-align: center; }

button.bingo-tile:not(.active):hover {
  background: #D7D1DA; }

.intro {
  background: #371A45;
  color: white;
  height: 240px;
  overflow: hidden; }
  .intro__container {
    position: relative; }
  .intro__cols {
    position: relative;
    z-index: 2; }
  .intro__background-img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px; }
    @media (max-width: 31.24999em) {
      .intro__background-img {
        right: auto;
        left: 30%;
        max-width: 300px; } }

.button {
  border-radius: 10px;
  min-height: 50px;
  border: none;
  background: #371A45;
  color: white;
  padding: 0 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-weight: 700; }
  .button:hover, .button:focus {
    background: #190c20; }
  .button--secondary {
    color: #371A45;
    background: #50E3C2; }
    .button--secondary:hover, .button--secondary:focus {
      background: #24dcb3; }
  .button--link {
    background: transparent;
    border-color: transparent;
    color: #50E3C2;
    text-decoration: underline; }
    .button--link:hover, .button--link:focus {
      background: transparent;
      color: #1cb18f; }

.tile {
  background: white;
  color: #371A45;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  display: block;
  transition: all 0.2s ease-in-out; }
  .tile + .tile {
    margin-top: 2rem; }
  @media (max-width: 31.24999em) {
    .tile {
      padding: 1.5rem 2rem; } }

a.tile {
  text-decoration: none; }
  a.tile:hover, a.tile:focus {
    background: #50E3C2; }

.steps-table__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  padding: 9px 10px 12px 10px; }
  .steps-table__row:nth-child(even) {
    background: rgba(55, 26, 69, 0.1); }

.steps-table--white h2 {
  color: white; }

.steps-table--white .steps-table__row {
  background: white; }
  .steps-table--white .steps-table__row:nth-child(even) {
    background: #f2f2f2; }

.highscore__container {
  border-bottom: 2px solid white; }

.highscore__title {
  font-size: 24px;
  color: white; }

.highscore__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 5px;
  margin-left: -5px;
  margin-right: -5px;
  transition: background 0.2s ease-in-out; }
  @media (max-width: 60em) {
    .highscore__row {
      font-size: 18px; } }
  .highscore__row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.2); }
  .highscore__row:hover {
    background: rgba(0, 0, 0, 0.4); }
  .highscore__row.large {
    padding-top: 15px;
    padding-bottom: 15px; }
  .highscore__row.border-bottom {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.2); }

.highscore__number {
  color: #50E3C2;
  width: 16px; }

.highscore__name {
  margin-left: 1rem; }

/*# sourceMappingURL=app.css.map */
