$version: "0.4.5";
$green: #50E3C2;
$purple: #371A45;
$primary-opacity: rgba(55,26,69,0.1);

$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #cd7f32;

$scale: scale(1.05);
$opacity: 0.5;

$header-height: 70px;
$cookie-height: 50px;
$cookie-height-mobile: 70px;

$padding: 50px;

$max-width: 780px;
$max-width-less : 960px;
// Global
$html-font-size: 16px; // 1 rem = this

$font-smoothing: true;

$layout-gutter: 1rem; // 16px

// =========================================


$cyan: #0C9DDB;
$cyan-opacity: #E6F5FB;
$blue: #0B203A;
$blue-opacity: #E5EAF0;
$gray: #f2f2f2;
$gray-opacity: rgba(0,0,0,0.8);
$red: #D70048;
$red-opacity: rgba(215, 0, 72, 0.2);
$challenger-color : #2b4496;
$header-color: $cyan;

$border: 1px solid $gray;
$border-dark: 1px solid rgba(11,32,58,0.2);
$box-shadow: 0px 3px 10px 0px rgba(11,32,58,0.2);


$yellow: yellow;
$dark: #333;

$block-size-large: 6rem;
$block-size-medium: 4rem;
$block-size-small: 2rem;
$block-size-mini: 1rem;


$mobile-menu-transition: transform 0.4s ease-in-out;
$mobile-menu-color: white;


/**
TODO: Create a better configuration
*/


$atom-margin: 1rem;
$atom-margin-medium: 2rem;
$atom-margin-large: 4rem;

//used for innerpaddingof cards
$atom-margin-x-large: 6rem;
$atom-margin-x-x-large: 12rem;
$atom-margin-x-x-x-large: 18rem;
$atom-margin-x-x-x-x-large: 33rem; // 12 + 12 - 3 



$layout-6-spacing: 6rem;
$layout-4-spacing: 4rem;
$layout-spacing: 10px;
$layout-half-spacing: 1rem;


$header-height: 60px;
$cookie-height: 50px;
$cookie-height-mobile: 90px;



// Global
$html-font-size: 16px; // 1 rem = this

$font-smoothing: true;

$layout-gutter: 2rem; // 20px
$layout-2-gutter: 4rem; // 40px
$layout-3-gutter: 6rem; // 40px
$layout-4-gutter: 8rem; // 80px


$icon-small: 2.8rem;
$icon-medium: 3.6rem;
$icon-large: 4.8rem;
$icon-x-large: 6.4rem;


$header-logo-width: 4.5rem;






$bg-color: #fff;
$font-color: $purple;
$bg-light-color: $bg-color;
$bg-light-color-opacity: rgba(255,255,255,0.8);
$font-light-color: $font-color;
$bg-dark-color: black;
$bg-dark-color-opacity: rgba(0,0,0,0.8);
$font-dark-color: white;

$footer-color: black;
$footer-col-width: 200px;
$footer-col-width-small: 200px;
$primary-gradient: linear-gradient(#3396ff, #1f5cff);

$entrance-1: teal;
$entrance-font-color-1: white;
$entrance-2: tomato;
$entrance-font-color-2: white;
$entrance-3: lightgoldenrodyellow;
$entrance-font-color-3: black;
$entrance-4: cadetblue;
$entrance-font-color-4: white;
$entrance-color: $bg-color;


$sub-menu-bg-color: $bg-color;
$sub-menu-color: $font-color;

// =========================================
$button-padding: 0 16px;
// -- backgrounds
$background-color: $purple;
$primary-color: $purple;
$primary-color-opacity: rgba(0,0,0,0.8);

$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$primary-button-font-color : white;

$secondary-color: $green;
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);
$secondary-button-font-color: white;


$third-color: #BFB7A9;
$third-color-dark: darken($secondary-color, 3%);
$third-color-light: lighten($secondary-color, 3%);


$font-color-light: white;
$mobile-text-color : white;
$border-radius: 10px;
$button-border-radius : 0;
$select-border-radius : 0px;

$card-color: #D1D1D1;

$block-color-primary: #121212;
$block-font-color-primary: white;
$block-color-secondary: #F1F1F1;
$block-font-color-secondary: wite;
$sub-menu-bg-color: #2A2A29;
$sub-menu-font-color: white;



// Gray colors
$dark-color: #454d5d;
$light-color: #fff;
$gray-color: lighten($dark-color, 40%);
$gray-color-dark: darken($gray-color, 25%);
$gray-color-light: lighten($gray-color, 20%);

$border-color: lighten($dark-color, 60%);
$border-color-dark: darken($border-color, 10%);
$bg-color-dark: darken($bg-color, 3%);
$bg-color-light: $light-color;

// Other colors
$code-color: #e06870;
$highlight-color: #ffe9b3;
$body-bg: $bg-color-light;
$body-font-color: lighten($dark-color, 5%);
$link-color: $primary-color;
$link-color-dark: darken($link-color, 5%);

// -- statess
$color-control: #c5c5c5;
$color-info: #0193eb;
$color-error: #e85600;
$color-warning: #ffb700;
$color-success: #32b643;

// $color-shadow: rgba(0,0,0,0.4); // -- not used yet

// sizes

$heading-line-height: 1.3;
$base-font-size: 10;
$base-font-scale: 1.25;
$line-height-text: 1.6;
$font-size-normal: $base-font-size;
$font-size-x-x-large: 6.4rem;
$font-size-x-large: 4.8rem;
$font-size-large: 3.6rem;
$font-size-medium-large: 2.4rem;
$font-size-medium: 2rem;
$font-size-small: 1.6rem;
$font-size-x-small: 1.4rem;
$font-size-tiny: 1.2rem;
$font-size-x-tiny: 1rem;

//-- fonts

/*@font-face {
  font-family: 'FontAwesome';
  font-style:  normal;
  font-weight: 400;
  src: url("fonts/fa-regular-400.woff2") format("woff2");
}*/
//https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$font-family-sans:  sofia-pro, sans-serif;
$font-family-sans-paragraph:   proxima-nova-condensed, sans-serif;

$fallback-font-family: "Helvetica Neue", sans-serif;
$font-family-serif: serif;
$body-font-family: $font-family-sans, $fallback-font-family;

/*
  End typographics
  =========
  */


// Font sizes
$html-font-size: 16px;
$html-line-height: 1.6;
$font-size: $font-size-medium;
$font-size-sm: $font-size-small;
$font-size-lg: $font-size-large;
$line-height: 1.6;

//-- Sizes
$unit-o: .1rem;
$unit-h: .2rem;
$unit-1: .4rem;
$unit-2: .8rem;
$unit-3: 1.2rem;
$unit-4: 1.6rem;
$unit-5: 2rem;
$unit-6: 2.4rem;
$unit-7: 2.8rem;
$unit-8: 3.2rem;
$unit-9: 3.6rem;
$unit-10: 4rem;
$unit-12: 4.8rem;
$unit-16: 6.4rem;

// Sizes
//$layout-spacing: 2rem;
$layout-spacing-sm: $unit-1;
$layout-spacing-lg: $unit-4;

$border-width: $unit-o;
$border-width-lg: $unit-h;
$control-size: $unit-9;
$control-size-sm: $unit-7;
$control-size-lg: $unit-10;
$control-padding-x: 2rem;
$control-padding-x-sm: $unit-2 * .75;
$control-padding-x-lg: $unit-2 * 1.5;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width;
$control-icon-size: 1.6rem;
$control-min-width: 180px;
$control-max-width: 320px;

//-- Animation speeds
$animation-speed-slow: 1s;
$animation-speed-medium: .5s;
$animation-speed-fast: .325s;

//-- Transitions
$transition-slow: all $animation-speed-slow ease-in-out;
$transition-medium: all $animation-speed-medium ease-in-out;
$transition-fast: all $animation-speed-fast ease-in-out;

/**
  Grid
  ======
  */

// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;

/**
  End grid
  =======
  */

/**
 z-index levels
 */

// Z-index
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-5: 500;
$zindex-6: 600;


/**
Experimentals - not finished
*/

// Parallax
$parallax-deg: 3deg;
$parallax-offset: 4.5px;
$parallax-offset-z: 50px;
$parallax-perspective: 1000px;
$parallax-scale: .95;


$padding-x-x-large: 4.5rem;
$padding-x-large: 4rem;
$padding-large: 3.5rem;
$padding-medium-large: 3rem;
$padding-medium: 2.5rem;
$padding-small: 2rem;
$padding-x-small: 1.5rem;
$padding-tiny: 1rem;
$padding-x-tiny: 0.5rem;

