.connect-user{

	&__title{
		text-align: center;
		margin-bottom: 0px;
	}
	&__sub-title{
		text-align: center;
		margin-bottom: 20px;
	}

	&__form{
		/*
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		*/
	}

	&__result{
		&-container{
			padding-top: $block-size-large;
		}

		&--inner{
			padding: 2rem;
			border: $border;
			border-radius: $border-radius;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&-name{
			font-weight: 700;
		}
		&-borndate{
			font-style: italic;
		}
	}
}