.login-page{

	&__cols{
		min-height: calc(100vh - 110px);
	}

	&__background{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.form-input{
			border:none;
		}
		.button.button--link{
			color: white;
		}
	}
	&__title{
		padding: $block-size-medium 0  $block-size-medium 0; 
		font-style: italic;
		width: 100%;
		text-align: center;
	}
	&__create-new{
		text-transform: uppercase;
		text-decoration: underline;
	}

	&__anchor{
		margin-top: $block-size-small;
		text-align: center;
		color: white !important;
		&:hover, &:focus{
			color: white !important;
		}
		& + &{

		}
	}
	.form-group:not(:last-child){
		margin-bottom: 1rem;
	}
	.form-input{
		border:none;

	}
	::-webkit-input-placeholder {
		text-align: center;
	}

	:-moz-placeholder { /* Firefox 18- */
		text-align: center;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
		text-align: center;  
	}

	:-ms-input-placeholder {  
		text-align: center; 
	}
}