.pins-form{
	

	.form-group{
		&:not([data-category='all']){
			display: none;
		}

	}

	.form_group__wrapper{
		@extend .col;
		@extend .col--12;
		display: none;
	}

	

	.category_input{		
		&:checked{
			& + .form_group__wrapper{
				display: flex;
			}
		}
		
	}
}

.pin-categories{
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;

	label{
		flex: 1 1 auto;
		padding: 10px 20px;
		background: $blue-opacity;
		border-radius: $border-radius;
	}
}