.profile{

	&__img-wrapper{
		overflow: hidden;

		form &{
			overflow: visible;
		}
		width: 150px;
		height: 150px;
		border-radius: 234234px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&_cols{
		flex-direction: column;
		padding-top: $block-size-small;
		padding-bottom: $block-size-small;
		border-top: $border;

		&:not(.profile_cols--no-border):last-child{
			border-bottom: $border;	
		}
		

		&--no-border{
			border:none !important;
		}
	}
	&__label{
		display: block;
	}
	&__value{
		font-weight: 700;
		@extend .h2;
		margin: 0;
		display: flex;
		justify-content: space-between;

	}

	&__label, &__value{
		text-transform: uppercase;
		
	}
	.form-input{
		display: block;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		text-align: left;
		padding-left: 0;
		text-transform: uppercase;
	}

	#email{
		display: none;
		padding-top: 0;
		padding-bottom: 0;
		border: none;
		text-align: left;
		padding-left: 0;
		text-transform: uppercase;
	}

	#toggle_email{
		&:checked + .col{
			#email{
				display: block;

			}

			.profile__value{
				display: none;
			}
			
		}
	}
}