.ranking{
	&__search{
		height: 100%;
		width: 100%;
		border:none;

		&-results{
			position: absolute;
			top: calc(100% - 1px);
			background: white;
			left: 0;
			right: 0;
			z-index: 5;

			& + .overlay{
				display: none;
				top: 100%;
				width: 500vw;
				height: 10000vh;
				left: -250vw;
			}

			&.active{
				& + .overlay{
					display: block;
				}	
			}
			

		}
	}

	&__filter{

		&-filter select{
			font-weight: 700;
		}

		& > .chevron{
			position: absolute;
			right: 2rem;
			top:25px;
			transform: translateY(-50%);
			line-height: 1;
			height: 7px;
			&.active{
				transform: rotate(180deg);
			}

			@include breakpoint(mobile-break){
				top:21px;
			}
		}

		&--toggle{
			@include breakpoint(mobile-break){
				font-size: 16px !important;
				span:not(:first-of-type){
					margin-left: 1rem !important;
				}
			}
		}


		&__content{
			opacity: 0;
			z-index: -1;
			display: flex;
			position: absolute;
			flex-direction: column;
			background: $bg-color;

			& + .overlay{
				display: none;
				top: 100%;
				width: 500vw;
				height: 10000vh;
				left: -250vw;

				@include breakpoint(mobile-break){
					top: calc(100% + 45px);
				}
			}

			@include breakpoint(above-mobile-break){
				top: 100%;
				left: 0;
				right: 0;
				//padding: 0 2rem 2rem 2rem;

			}

			.ranking__filter-filter{
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-right: 2rem;
				padding-left: 2rem;
				display: flex;
				border-top: $border;



				label{
					width: 100px;
					margin-right: 2rem;
					width: 100px;
					font-weight: 700;
					font-size: 20px;
					color: $cyan;
					text-transform: uppercase;
				}

				select{
					color: $blue;
					border:none;
				}
				@include breakpoint(mobile-break){
					label, select{
						font-size: 16px;
					}
				}
			}
			


			&--toggle{
				&:checked + .ranking__filter__content{
					opacity: 1;
					z-index: 5;

					@include breakpoint(mobile-break){
						position: relative;
						margin-left: -2rem;
						margin-right: -2rem;
						margin-top: 1rem;
					}

					& + .overlay{
						display: block;
					}
				}
			}
		}
	}

	.filter-bar__col + .filter-bar__col{
		@include breakpoint(mobile-break){
			border-top: $border;
		}


	}

	.current-user{
		margin-bottom: 90px;

		@include breakpoint(mobile-break){
			margin-bottom: 45px;			
		}

		&__title{
			margin-top: 30px;
			margin-bottom: 10px;
			@include breakpoint(mobile-break){
				margin-top: 20px;
				margin-bottom: 10px;
			}
		}
	}

	&__col{
		@include breakpoint(mobile-break){
			padding-left: 0;
			padding-right: 0;
		}

		&.rank-card--list-header{
			@include breakpoint(mobile-break){
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}

	#temp-ranking{
		padding-bottom: 60px;
	}
}
