.text-template{
	.text{
		&-editor{

			&__container{
				display: none;

				textarea{
					height: 80vh;
				}

				.mce-edit-area iframe{
					height: 75vh !important;

					img{
						width: 100% !important;
						height: auto !important;
					}
				}
			}

		}

		
	}

	article{
		img{
			margin-left: -$layout-gutter;
			margin-right: -$layout-gutter;	
			max-width: calc(100% + #{$layout-gutter} * 2);
			width: calc(100% + #{$layout-gutter} * 2);
		}
		
	}

}


.text-editor__checkbox{
	&:checked{
		& + .text-template{
			.text-editor__container{
				display: block;
			}
			article{
				display: none;
			}

			label[for="text-editor"]{
				display: none;
			}

		} 

	}
}