// Message for outdated browser

.outdated-browser {
  display: none;
  text-align: center;
  background: #fec2c1;
  border-bottom: 1px solid #d86a73;
  margin: 0;
  padding: 1.5em;
  font-family: sans-serif;
  line-height: 1.3;
  color: #333;
  font-size: .9em;

  p {
	margin: 0;
  }

  img {
	display: block;
	margin: 0 auto 1em;
  }

  a {
	color: #333;
	font-weight: bold;
  }
}

.ie10, .ie {
  .outdated-browser {
	display: block;
  }
}