.screen {
	position: fixed;
	bottom: 1em;
	left: 0;
	right: 0;
	width: 15em;
	margin: auto;
	z-index: 9999;

	&:before {
		transition: background .2s ease-out;
		display: block;
		padding: .5em;
		color: #fff;

		@include breakpoint(mobile-lg) {
			background: rgba(125, 0, 0, .8);
			content: 'mobile-lg'
		}

		@include breakpoint(mobile-xl) {
			background: rgba(125, 125, 0, .8);
			content: 'mobile-xl'
		}

		@include breakpoint(tablet-sm) {
			background: rgba(125, 0, 125, .8);
			content: 'tablet-sm'
		}

		@include breakpoint(tablet-lg) {
			background: rgba(0, 125, 125, .8);
			content: 'tablet-lg'
		}

		@include breakpoint(laptop-sm) {
			background: rgba(0, 125, 0, .8);
			content: 'laptop-sm'
		}

		@include breakpoint(laptop-lg) {
			background: rgba(0, 0, 125, .8);
			content: 'laptop-lg'
		}

		@include breakpoint(desktop-sm) {
			background: rgba(125, 0, 255, .8);
			content: 'desktop-sm'
		}

		@include breakpoint(desktop-lg) {
			background: rgba(125, 255, 255, .8);
			content: 'desktop-lg'
		}
	}
}